<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
<title>Permiso Laboral</title>
<script type="text/javascript">
 	function mueveReloj(){ 
   	 
   	hoy = new Date()
   	dd = hoy.getDate()
	mm = hoy.getMonth()+1 //hoy es 0!
    yyyy = hoy.getFullYear()
    
    if(dd<10) {
    dd='0'+dd
	} 

	if(mm<10) {
    mm='0'+mm
	} 

   hoy = yyyy+'-'+mm+'-'+dd;
   	document.form_reloj.fechaSolicitud.value = hoy
   	
} 
</script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/permisoLaboral.js"></script>
</head>
<body onload="mueveReloj()" ng-app="tatei" ng-controller="registraPermiso">

<div class="container">
<div class="panel panel-default">
		<div class="panel-body">
		<h2>Permiso Laboral</h2>
			<form ng-submit="registrar(permiso)" name="form_reloj">
					<div class="row" ng-repeat="empleado in resultado">
					 <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="numeroEmpleado" class="control-label">Numero de Empleado</label>
                           <input type="text" id="noEmpleado" value={{empleado.noEmpleado}} disabled class="form-control">
						   <input type="hidden" id="idEmpleado" value={{empleado.idEmpleado}}>
                        </div>
                    </div>
					</div>
					
					<div class="row" ng-repeat="emp1 in resultado" >
					 <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="nombre" class="control-label">Nombre</label>
                           <input type="text"  value={{emp1.nombre}}&nbsp{{emp1.apellidoPat}}&nbsp{{emp1.apellidoMat}} class="form-control" disabled>
                        </div>
                    </div>
					</div>
			  
			  <div class="row" ng-repeat="emp2 in resultado">
			  <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="puesto" class="control-label">Puesto</label>
                           <input type="text" value={{emp2.descripcionPuesto}} disabled class="form-control">
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="fechaIngreso" class="control-label">Fecha de Ingreso</label>
                            <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  			<input type="date" value={{emp2.fechaIngreso}} disabled class="form-control">
               				 </div>
                        </div>
                    </div>
			  </div>
			  
			  <div class="row">
			  <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="comentarios" class="control-label">Comentarios</label>
                           <textarea id="comentario" class="form-control" rows="6" cols="56"></textarea>
                        </div>
                    </div>
			  </div>
			  
			  <div class="row"> 
			  <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="fechaSolicitud" class="control-label">Fecha de Solicitud</label>
                           <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  			<input type="date" id="fechaSolicitud" name="fechaSolicitud" class="form-control" disabled>
               				 </div>
                        </div>
                    </div>
			  </div>
			  
			  <div class="row">
			   <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="fechaAusencia" class="control-label">Fecha de Ausencia</label>
                           <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  			<input type="date" id="fechaSolicitudMinima" class="form-control">
               				 </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="fechaMaxima" class="control-label">a</label>
                           <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  			<input type="date" id="fechaSolicitudMaxima" class="form-control">
               				 </div>
                        </div>
                    </div>
			  </div>
			  <div class="row">
			  <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="horarioSolicitado" class="control-label">Horario Solicitado</label>
                           <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                  			<input type="time" id="horaSolicitudMinima" class="form-control">
               				 </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="fechaMaxima" class="control-label">a</label>
                           <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                  			<input type="time" id="horaSolicitudMaxima" class="form-control">
               				 </div>
                        </div>
                    </div>
			  </div>
			  
			  <div class="row">
			  <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="tipoPermiso" class="control-label">Tipo de Permiso</label>
                           <select class="form-control"  ng-model="permiso.codigo" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultadoLaboral" ng-change="getOptions2(permiso.codigo)">
</select> <input type="hidden" id="permisoCodigo" value={{permiso.codigo}}>
                        </div>
                    </div>
			  </div>
			  <input type="submit" value="Registrar" class="btn btn-success">
			</form>
		</div>
</div>
</div>

<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    	<script src="js/bootstrap.min.js"></script>
    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</body>
</html>