<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Tatei Web Project</display-name>
  <servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  <servlet>
  	<servlet-name>ConsultaCatalogo</servlet-name>
  	<display-name>ConsultaCatalogo</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.catalogos.ConsultaCatalogo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultaUsuarioLogin</servlet-name>
  	<display-name>ConsultaUsuarioLogin</display-name>
  	<description>consulta del usuario</description>
  	<servlet-class>com.fyg.cuadrillas.web.usuario.ConsultaUsuarioLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultaTipoCatalogos</servlet-name>
  	<display-name>ConsultaTipoCatalogos</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.catalogos.ConsultaTipoCatalogos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarCatalogo</servlet-name>
  	<display-name>RegistrarCatalogo</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.catalogos.RegistrarCatalogo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarCatalogo</servlet-name>
  	<display-name>EliminarCatalogo</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.catalogos.EliminarCatalogo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarCatalogo</servlet-name>
  	<display-name>ActualizarCatalogo</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.catalogos.ActualizarCatalogo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarHerramientas</servlet-name>
  	<display-name>RegistrarHerramientas</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.herramientas.RegistrarHerramientas</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarHerramienta</servlet-name>
  	<display-name>EliminarHerramienta</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.herramientas.EliminarHerramienta</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizarHerramienta</servlet-name>
  	<display-name>ActualizarHerramienta</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.herramientas.ActualizarHerramienta</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultaHerramienta</servlet-name>
  	<display-name>ConsultaHerramienta</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.herramientas.ConsultaHerramienta</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistraVialidad</servlet-name>
  	<display-name>RegistraVialidad</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.vialidad.RegistraVialidad</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultaVialidad</servlet-name>
  	<display-name>ConsultaVialidad</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.vialidad.ConsultaVialidad</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminaVialidad</servlet-name>
  	<display-name>EliminaVialidad</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.vialidad.EliminaVialidad</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistraEmpleado</servlet-name>
  	<display-name>RegistraEmpleado</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.empleado.RegistraEmpleado</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BajaEmpleado</servlet-name>
  	<display-name>BajaEmpleado</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.empleado.BajaEmpleado</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ActualizaEmpleado</servlet-name>
  	<display-name>ActualizaEmpleado</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.empleado.ActualizaEmpleado</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EntradaAsistencia</servlet-name>
  	<display-name>EntradaAsistencia</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.asistencia.EntradaAsistencia</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SalidaAsistencia</servlet-name>
  	<display-name>SalidaAsistencia</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.asistencia.SalidaAsistencia</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AltaContrato</servlet-name>
  	<display-name>AltaContrato</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.contrato.AltaContrato</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BajaContrato</servlet-name>
  	<display-name>BajaContrato</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.contrato.BajaContrato</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/json/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaCatalogo</servlet-name>
		<url-pattern>/ConsultaCatalogo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaUsuarioLogin</servlet-name>
		<url-pattern>/ConsultaUsuarioLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaTipoCatalogos</servlet-name>
		<url-pattern>/ConsultaTipoCatalogos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarCatalogo</servlet-name>
		<url-pattern>/RegistrarCatalogo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarCatalogo</servlet-name>
		<url-pattern>/EliminarCatalogo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActualizarCatalogo</servlet-name>
		<url-pattern>/ActualizarCatalogo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarHerramientas</servlet-name>
		<url-pattern>/RegistrarHerramientas</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarHerramienta</servlet-name>
		<url-pattern>/EliminarHerramienta</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActualizarHerramienta</servlet-name>
		<url-pattern>/ActualizarHerramienta</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaHerramienta</servlet-name>
		<url-pattern>/ConsultaHerramienta</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistraVialidad</servlet-name>
		<url-pattern>/RegistraVialidad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaVialidad</servlet-name>
		<url-pattern>/ConsultaVialidad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminaVialidad</servlet-name>
		<url-pattern>/EliminaVialidad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistraEmpleado</servlet-name>
		<url-pattern>/RegistraEmpleado</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BajaEmpleado</servlet-name>
		<url-pattern>/BajaEmpleado</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ActualizaEmpleado</servlet-name>
		<url-pattern>/ActualizaEmpleado</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EntradaAsistencia</servlet-name>
		<url-pattern>/EntradaAsistencia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SalidaAsistencia</servlet-name>
		<url-pattern>/SalidaAsistencia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AltaContrato</servlet-name>
		<url-pattern>/AltaContrato</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BajaContrato</servlet-name>
		<url-pattern>/BajaContrato</url-pattern>
	</servlet-mapping>
</web-app>
