<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Tatei Web Project</display-name>
  <servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
  <servlet>
  	<servlet-name>ConsultaCatalogo</servlet-name>
  	<display-name>ConsultaCatalogo</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.catalogos.ConsultaCatalogo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultaUsuarioLogin</servlet-name>
  	<display-name>ConsultaUsuarioLogin</display-name>
  	<description>consulta del usuario</description>
  	<servlet-class>com.fyg.cuadrillas.web.usuario.ConsultaUsuarioLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ConsultaTipoCatalogos</servlet-name>
  	<display-name>ConsultaTipoCatalogos</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.catalogos.ConsultaTipoCatalogos</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarCatalogo</servlet-name>
  	<display-name>RegistrarCatalogo</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.catalogos.RegistrarCatalogo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EliminarCatalogo</servlet-name>
  	<display-name>EliminarCatalogo</display-name>
  	<description></description>
  	<servlet-class>com.fyg.cuadrillas.web.catalogos.EliminarCatalogo</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/json/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaCatalogo</servlet-name>
		<url-pattern>/ConsultaCatalogo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaUsuarioLogin</servlet-name>
		<url-pattern>/ConsultaUsuarioLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ConsultaTipoCatalogos</servlet-name>
		<url-pattern>/ConsultaTipoCatalogos</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegistrarCatalogo</servlet-name>
		<url-pattern>/RegistrarCatalogo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EliminarCatalogo</servlet-name>
		<url-pattern>/EliminarCatalogo</url-pattern>
	</servlet-mapping>
</web-app>
