<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Administración de Empleados</title>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/registraEmpleado.js"></script>
</head>
<body ng-app="tatei" ng-controller="registraEmpleado">
<h2>Administración de Empleados</h2>
<form ng-submit="registrar(empleado)">
<table >
<tr>
<td>Número de Empleado: </td>
<td><input type="text" name="idEmpleado" ng-model="empleado.idEmpleado"/>{{empleado.idEmpleado}}</td>
</tr>

<tr>
<td>Nombre(s):</td>
<td><input type="text" name="nombre" id="nombre" ng-model="empleado.nombre">{{empleado.nombre}}</td>
</tr>

<tr>
<td>Apellido Paterno: <input type="text" name="apellidoPat" ng-model="empleado.apellidoPaterno"/></td>
<td>Apellido Materno: <input type="text" name="apellidoMat" ng-model="empleado.apellidoMaterno"/></td>
</tr>

<tr>
<td>Puesto: <select></select></td>
<td>Fecha de Ingreso: <input type="date" name="fechaIngreso" ng-model="empleado.fechaIngreso"/></td>
</tr>

<tr>
<td>NSS: <input type="text" name="nss" ng-model="empleado.nss"></td>
<td>Credito Infonavit: <input type="text" name="creditoInfonavit" ng-model="empleado.infonavit"></td>
</tr>

<tr>
<td>RFC: <input type="text" name="rfc" ng-model="empleado.rfc"></td>
<td>Estatus: <select name="Estatus" ng-model="empleado.estatus">
<option value="">--Seleccione el estatus--</option>
<option value="A">Activo</option>
<option value="I">Inactivo</option>
</select>
</td>
</tr>

<tr>
<td>Sueldo: <input type="text" name="sueldo" placeholder="$" ng-model="empleado.sueldo"></td>
<td>Frecuencia: <input type="radio" name="pago" value="M" ng-model="empleado.tipoPago">Mes &nbsp <input type="radio" name="pago" value="Q" ng-model="empleado.tipoPago">Quincena &nbsp <input type="radio" name="pago" value="S" ng-model="empleado.tipoPago">Semanal</td>
</tr>

<tr>
<td>Teléfono:<input type="text" name="telefono" ng-model="empleado.telefono"/> </td>
<td>Talla: <select ng-model="empleado.talla">
<option value="EXCH">Extra Chica</option>
<option value="CHIC">Chica</option>
<option value="MEDI">Mediana</option>
<option value="GRAN">Grande</option>
<option value="EXGR">Extra Grande</option>
</select>&nbsp Sexo: <select ng-model="empleado.sexo">
<option value="H">Hombre</option>
<option value="M">Mujer</option>
</select></td>
</tr>

<tr>
<td colspan="2">Cuadrilla: <select></select></td>
</tr>

<tr>
<td colspan="2">Comentarios:<textarea rows="" cols="" ng-model="empleado.comentarios"></textarea> </td>
</tr>

<tr>
<td colspan="2">Documentación
<br/>
<span>Solicitud con fotografia(100% complementada) <input type="radio" name="fotografia" value="SOEM">Si &nbsp <input type="radio" name="fotografia" value="NO">No &nbsp <input type="radio" name="fotografia" value="">N/A</span>
<br>
<span>Credencial de Elector (copia) <input type="radio" name="credencial" value="CREL">Si &nbsp <input type="radio" name="credencial" value="NO">No &nbsp <input type="radio" name="credencial" value="">N/A</span>
<br/>
<span>CURP <input type="radio" name="curp" value="CURP">Si &nbsp <input type="radio" name="curp" value="NO">No &nbsp <input type="radio" name="curp" value="">N/A</span>
<br/>
<span>Acta de Nacimiento(copia) <input type="radio" name="acta" value="ACNA">Si &nbsp <input type="radio" name="acta" value="NO">No &nbsp <input type="radio" name="acta" value="">N/A</span>
<br/>
<span>Comprobante de Domicilio Reciente(copia) <input type="radio" name="domicilio" value="CDOM">Si &nbsp <input type="radio" name="domicilio" value="NO">No &nbsp <input type="radio" name="domicilio" value="">N/A</span>
<br/>
<span>Documento IMSS (pre-registro) <input type="radio" name="imss" value="IMSS">Si &nbsp <input type="radio" name="imss" value="NO">No &nbsp <input type="radio" name="imss" value="">N/A</span>
<br/>
<span>RFC(Dado de alta en hacienda como asalariado) <input type="radio" name="documentoRFC" value="RFC">Si &nbsp <input type="radio" name="documentoRFC" value="NO">No &nbsp <input type="radio" name="documentoRFC" value="">N/A</span>
<br/>
<span>No Credito INFONAVIT <input type="radio" name="documentoInfonavit" value="NINF">Si &nbsp <input type="radio" name="documentoInfonavit" value="NO">No &nbsp <input type="radio" name="documentoInfonavit" value="">N/A</span>
<br/>
<span>Curriculum Vitae <input type="radio" name="CV" value="CUVI">Si &nbsp <input type="radio" name="CV" value="NO">No &nbsp <input type="radio" name="CV" value="">N/A</span>
<br/>
<span>Documentacion Probatoria del CV <input type="radio" name="documentoCV" value="DOCM">Si &nbsp <input type="radio" name="documentoCV" value="NO">No &nbsp <input type="radio" name="documentoCV" value="">N/A</span>
<br/>
<span>Contrato Firmado <input type="radio" name="contrato" value="CNFR">Si &nbsp <input type="radio" name="contrato" value="NO">No &nbsp <input type="radio" name="contrato" value="">N/A</span>
<br/>
</td>
</tr>
</table>
<button type="reset" value="Reset">Reset</button>
<input type="submit" name="guardar" value="Registrar">
</form>
</body>

</html>