<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Administración de Empleados</title>
<script type="text/javascript">
 	function mueveReloj(){ 
   	 
   	hoy = new Date()
   	dd = hoy.getDate()
	mm = hoy.getMonth()+1 //hoy es 0!
    yyyy = hoy.getFullYear()
    
    if(dd<10) {
    dd='0'+dd
	} 

	if(mm<10) {
    mm='0'+mm
	} 

   hoy = yyyy+'-'+mm+'-'+dd;
   	document.form_reloj.fechaIngreso.value = hoy
   	
} 
</script>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/registraEmpleado.js"></script>
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
</head>
<body onload="mueveReloj()" ng-app="tatei" ng-controller="registraEmpleado">
<h2>Administración de Empleados</h2>
<form name="form_reloj">
<table >
<tr>
<td>Número de Empleado: </td>
<td><input type="text" name="numeroEmpleado" id="noEmpleado" required/></td>
</tr>

<tr>
<td>Nombre(s):</td>
<td><input type="text" name="nombre" id="nombre"  required></td>
</tr>

<tr>
<td>Apellido Paterno: <input type="text" name="apellidoPat" id="apellidoPaterno" required/></td>
<td>Apellido Materno: <input type="text" name="apellidoMat" id="apellidoMaterno" required/></td>
</tr>

<tr>
<td>Puesto: <select required id="codigoPuesto" ng-model="empleado.puesto" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultado" ng-change="getOptions2(empleado.puesto)"> </select> &nbsp Fecha de Nacimiento: <input type="date" name="fechaNac" id="fechaNacimiento" required/> </td>
<td>Fecha de Ingreso: <input type="date" name="fechaIngreso" id="fechaIngreso" requiered ></td>
</tr>

<tr>
<td>NSS: <input type="number" name="nss" id="nss" requiered></td>
<td>Credito Infonavit: <input type="number" name="creditoInfonavit" id="noCreditoInfonavit" requiered></td>
</tr>

<tr>
<td>RFC: <input type="text" name="rfc" id="rfc" requiered></td>
<td>Estatus: <select name="Estatus" id="estatus" requiered >
<option value="">--Seleccione el estatus--</option>
<option value="A">Activo</option>
<option value="I">Inactivo</option>
</select>
</td>
</tr>

<tr>
<td>Sueldo: <input type="number" name="sueldo" placeholder="$" id="sueldo" requiered></td>
<td>Frecuencia: <input type="radio" name="pago" id="frecuenciaPago" value="M">Mes &nbsp <input type="radio" id="frecuenciaPago" name="pago" value="Q">Quincena &nbsp <input type="radio" id="frecuenciaPago" name="pago" value="S">Semanal</td>
</tr>

<tr>
<td>Teléfono:<input type="tel" name="telefono" id="telefono" requiered/> </td>
<td>Talla: <select id="codigoTalla" ng-model="empleado.codigoTalla" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultadoRopa" ng-change="getOptions2(empleado.codigoTalla)">
</select>&nbsp Sexo: <select id="sexo" requiered>
<option value="">-----selecione sexo-----</option>
<option value="M">Hombre</option>
<option value="F">Mujer</option>
</select></td>
</tr>

<tr>
<td colspan="2">Cuadrilla: <select id="idCuadrilla" ng-model="empleado.idCuadrilla" ng-options="cuadrilla.idCuadrilla as cuadrilla.nombreCuadrilla for cuadrilla in resultadoCuadrilla" ng-change="getOptions2(empleado.idCuadrilla)" >
</select>
Vialidad: <select id="codigoVialidad" ng-model="empleado.codigoVialidad" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultadoVialidad" ng-change="getOptions2(empleado.codigoVialidad)"></select>
Area: <select id="codigoArea" ng-model="empleado.codigoArea" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultadoArea" ng-change="getOptions2(empleado.codigoArea)"></select></td>
</tr>

<tr>
<td colspan="2">Comentarios:<textarea rows="" cols="" id="observaciones"></textarea> </td>
</tr>

<tr>
<td colspan="2">Documentación
<br/>

</td>
</tr>
<tr ng-repeat="documentos  in resultadoDocumentos">
<td>{{documentos.descripcion}}</td>
<td><input type="hidden" id="estatusDocumento" value="A">
<input type="radio" id="documento"  name={{documentos.codigo}} value={{documentos.codigo}} data-form="document">Si 
<input type="radio"  name={{documentos.codigo}} value="NO" data-form="document">No
<input type="radio" name={{documentos.codigo}} value="N/A" data-form="document">N/A </td>
</tr>
</table>


<table>
<div class="wraper" ng-show='resultadoDatos.length' >
<tr>
<td>Numero</td>
<td>Puesto</td>
<td>Nombre</td>
<td>Fecha Ingreso</td>
<td>Estatus</td>
<tr ng-repeat="general in resultadoDatos">
<td>{{general.noEmpleado}}</td>
<td>{{general.puesto}}</td>
<td>{{general.nombre}}</td>
<td>{{general.fechaIngreso}}</td>
<td>{{general.estatus}}</td>
</tr>
</div>
</table>
<input type="reset" value="Borrar información">
<input type="submit" name="guardar" value="Registrar" data-ng-click="registrar(empleado)">
<input type="button" value="Consultar" data-ng-click="consultar(empleado)">
<input type="button" onclick=" location.href='http://localhost:8080/CuadrillasWEB/permiso/index.html' " value="Permiso Laboral" name="boton" /> 
</form>

</body>

</html>