<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
	<title>Administración de Empleados</title>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	
    	<script src="js/bootstrap.min.js"></script>
    	
    	
<script type="text/javascript">
 	function mueveReloj(){ 
   	 
   	hoy = new Date()
   	dd = hoy.getDate()
	mm = hoy.getMonth()+1 //hoy es 0!
    yyyy = hoy.getFullYear()
    
    if(dd<10) {
    dd='0'+dd
	} 

	if(mm<10) {
    mm='0'+mm
	} 

   hoy = yyyy+'-'+mm+'-'+dd;
   	document.form_reloj.fechaIngreso.value = hoy
   	
} 
</script>
<style>
.inpurError
	{
		background: #FF0000;
	}
</style>

<script type="text/javascript" src="js/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js"></script>
<script type="text/javascript" src="js/registraEmpleado.js"></script>

</head>
<body onload="mueveReloj()" ng-app="tatei" ng-controller="registraEmpleado">
	<div class="container">
	<h2>Administración de Empleados</h2>
		<div class="panel panel-default">
		<div class="panel-body">
			<form name="form_reloj" id="formEmpleado">
			     <div class="row">
			       <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="numeroEmpleado" class="control-label">Numero de Empleado</label>
                            <input type="text" name="numeroEmpleado" id="noEmpleado"  class="form-control" data-ng-bind-html="data" data-form="nEmpleado"/>
                            <div class="amt_err"></div>
                        </div>
                    </div>
			     </div>
			     
	
			     <div class="row">
			     <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="numeroEmpleado" class="control-label">Nombre(S)</label>
                            <input type="text" name="nombre" id="nombre" class="form-control" data-ng-bind-html="dataNombre" data-form="nombreE">
                            <div class="amt_error"></div>
                        </div>
                    </div>
			     <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="apellidoPaterno" class="control-label">Apellido Paterno</label>
                            <input type="text" name="apellidoPat" id="apellidoPaterno" class="form-control" data-form="apellidoP"/>
                            <div class="amt_errorApellidoP"></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="apellidoMaterno" class="control-label">Apellido Materno</label>
                            <input type="text" name="apellidoMat" id="apellidoMaterno" class="form-control" data-form="apellidoM"/>
                            <div class="amt_errorApellidoM"></div>
                        </div>
                    </div>
			     </div>
			     
			      <div class="row">
			     <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="puesto" class="control-label">Puesto</label>
                            <select class="form-control"  id="codigoPuesto" data-ng-model="empleado.puesto" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultado" ng-change="getOptions2(empleado.puesto)">
                            <option value="">--Seleccione Puesto--</option>
                            </select>
                            <div class="amt_errorPuesto"></div>
                            <input type="hidden" id="cPuesto" value={{empleado.puesto}}>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="fechaNaciomiento" class="control-label">Fecha de Nacimiento</label>
                            <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  			<input class="form-control" type="date" name="fechaNac" id="fechaNacimiento"/>
                  			<div class="amt_errorNacimiento"></div>
               				 </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="fechaIngreso" class="control-label">Fecha de Ingreso</label>
                            <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  			<input type="date" name="fechaIngreso" id="fechaIngreso" class="form-control" disabled>
               				 </div>
                        </div>
                    </div>
			     </div>
			     
			     <div class="row">
			     <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label for="nss" class="control-label">NSS</label>
                            <input type="number" name="nss" id="nss" class="form-control" data-form="nss">
                            <div class="amt_errorNSS"></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label for="noCreinfonavit" class="control-label">Credito Infonavit</label>
                            <input type="number" name="creditoInfonavit" id="noCreditoInfonavit"  class="form-control" data-form="infonavit">
                            <div class="amt_errorInfonavit"></div>
                        </div>
                    </div>
			     </div>
			     
			     <div class="row">
			     <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label for="rfc" class="control-label">RFC</label>
                            <input type="text" name="rfc" id="rfc"  class="form-control" data-form="rfc">
                            <div class="amt_errorRFC"></div>
                        </div>
                    </div>
                    
			     </div>
			     
			     <div class="row">
			      <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="sueldo" class="control-label">Sueldo</label>
                            <input type="number" name="sueldo" placeholder="$" id="sueldo" class="form-control" data-form="sueldo">
                            <div class="amt_errorSueldo"></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="calificacion" class="control-label">Calificacion</label>
                           <select id="calificacion" class="form-control">
                           <option value="">--Selecione una Calificacion--</option>
                           <option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
                           </select>
                           <div class="amt_errorCalificacion"></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="frecuencia" class="control-label">Frecuencia :</label>
                           <input type="radio" name="pago"  value="M" data-form="Pagos">Mes &nbsp <input type="radio"  name="pago" value="Q" data-form="Pagos">Quincena &nbsp <input type="radio" name="pago" value="S" ng-checked="true" data-form="Pagos">Semanal
                        </div>
                    </div>
			     </div>
			     
			     <div class="row">
			     <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="telefono" class="control-label">Telefono</label>
                            <input type="tel" name="telefono" id="telefono" class="form-control" data-form="tel"/>
                            <div class="amt_errorTel"></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="talla" class="control-label">Talla</label>
                           <select  class="form-control" id="codigoTalla" ng-model="empleado.codigoTalla" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultadoRopa" ng-change="getOptions2(empleado.codigoTalla)">
							<option value="">--Seleccione Talla--</option>
							</select>
							<input type="hidden" id="cTalla" value={{empleado.codigoTalla}}>
							<div class="amt_errorTalla"></div>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="sexo" class="control-label">Sexo</label>
                           <select id="sexo" requiered class="form-control">
								<option value="">-----Selecione sexo-----</option>
								<option value="M">HOMBRE</option>
								<option value="F">MUJER</option>
						</select>
						<div class="amt_errorSexo"></div>
                        </div>
                    </div>
			     </div>
			     
			     <div class="row">
			     <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="cuadrilla" class="control-label">Cuadrilla</label>
                           <select class="form-control" id="idCuadrilla" ng-model="empleado.idCuadrilla" ng-options="cuadrilla.idCuadrilla as cuadrilla.nombreCuadrilla for cuadrilla in resultadoCuadrilla" ng-change="getOptions2(empleado.idCuadrilla)" >
						  <option value="">--Seleccione Cuadrilla--</option>
						  </select>
						  <input type="hidden" id="cCuadrilla" value={{empleado.idCuadrilla}}>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="vialidad" class="control-label">Vialidad</label>
                            <select  class="form-control" id="codigoVialidad" ng-model="empleado.codigoVialidad" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultadoVialidad" ng-change="getOptions2(empleado.codigoVialidad)">
                            <option value="">--Seleccione Vialidad--</option>
                            </select>
                        <input type="hidden" id="cVialidad" value={{empleado.codigoVialidad}}>
                        </div>
                    </div>
                    
                    <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="area" class="control-label">Area</label>
                            <select class="form-control" id="codigoArea" ng-model="empleado.codigoArea" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultadoArea" ng-change="getOptions2(empleado.codigoArea)">
                            <option value="">--Seleccione Area--</option>
                            </select>
                        <input type="hidden" id="cArea" value={{empleado.codigoArea}}>
                        <div class="amt_errorArea"></div>
                        </div>
                    </div>
			     </div>
			     
			     <div class="row">
			     <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label for="alta" class="control-label">Notificar Alta IMSS</label>
                            <input type="checkbox" class="form-control" checked  disabled >
                        </div>
                    </div>
			     </div>
			     <div class="row">
			     <div class="col-sm-12">
                        <div class="form-group form-group-sm">
                            <label for="comentarios" class="control-label">Comentarios</label>
                           <textarea rows="5" cols="120" id="observaciones" class="form-comtrol"></textarea>
                        </div>
                    </div>
			     </div>
			     <p class="control-label">Documentacion</p>
		
			     <div data-id="documentosData" class="row" ng-repeat="documentos  in resultadoDocumentos" >
			      <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label for="documento" class="control-label">{{documentos.descripcion}}</label>
                        </div>
                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm">
							<input type="radio" name={{documentos.codigo}} value="1" data-form="document">SI 
							<input type="radio" name={{documentos.codigo}} value="3" data-form="document">NO
							<input type="radio" name={{documentos.codigo}} value="2" data-form="document" ng-checked="true">N/A 
                        </div>
                    </div>
			     </div>
			     
			      <div data-id="documentosResultado" class="row" ng-repeat="documentos  in resultadoDocumentoEmp" >
			      <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label for="documento" class="control-label">{{documentos.descripcionDocumento}}</label>
                        </div>
                    </div>
                    
                    <div class="col-sm-6" ng-if="documentos.estatus == 'NA'">
                        <div class="form-group form-group-sm">
							<input type="radio" name={{documentos.codigoEmpDoc}} value="1" data-form="documentData">SI 
							<input type="radio" name={{documentos.codigoEmpDoc}} value="3" data-form="documentData">NO
							<input type="radio" name={{documentos.codigoEmpDoc}} value="2" data-form="documentData" ng-checked="true">N/A 
                        </div>
                    </div>
                     <div class="col-sm-6" ng-if="documentos.estatus == 'NO'">
                        <div class="form-group form-group-sm">
							<input type="radio" name={{documentos.codigoEmpDoc}} value="1" data-form="documentData">SI 
							<input type="radio" name={{documentos.codigoEmpDoc}} value="3" data-form="documentData" ng-checked="true">NO
							<input type="radio" name={{documentos.codigoEmpDoc}} value="2" data-form="documentData" >N/A 
                        </div>
                    </div>
                     <div class="col-sm-6" ng-if="documentos.estatus == 'SI'">
                        <div class="form-group form-group-sm">
							<input type="radio" name={{documentos.codigoEmpDoc}} value="1" data-form="documentData" ng-checked="true">SI 
							<input type="radio" name={{documentos.codigoEmpDoc}} value="3" data-form="documentData">NO
							<input type="radio" name={{documentos.codigoEmpDoc}} value="2" data-form="documentData">N/A 
                        </div>
                    </div>
			     </div>
			     
			     <div class="row">
			    		 <div class="col-sm-12">
                			<div class="table-responsive">
                			<table class="table table-bordered">
								<div class="wraper" ng-show='resultadoDatos.length' >
								<tr>
								<th colspan="9">Busqueda<div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-search"></i></div>
                  			<input class="form-control" type="search" id="busqueda" size="45" ng-model="busqueda">
               				 </div></th>
								</tr>
								<tr class="success">
								<td>Numero</td>
								<td>Puesto</td>
								<td>Nombre</td>
								<td>Fecha Ingreso</td>
								<td>Estatus</td>
								<td colspan="3"><center>Operaciones</center></td>
							   
								</tr>
							<tr ng-repeat="general in resultadoDatos | filter: busqueda">
							
							<td> {{general.noEmpleado}}</td>
							<td>{{general.descripcionPuesto}}</td>
							<td>{{general.nombre}} {{general.apellidoPat}} {{general.apellidoMat}}</td>
							<td>{{general.fechaIngreso}}</td>
							<td ng-if="general.estatus === 'I'">INACTIVO</td>
							<td ng-if="general.estatus === 'A'">ACTIVO</td>
							<td ng-if="general.estatus === 'A'">
							
							
							<button class="btn btn-success btn-sm" data-ng-click="editarDatos(general)">Editar</button>
							<input type="hidden" id="idData" value={{general.idEmpleado}}>
							<input type="hidden" id="cuad" value={{general.idCuadrilla}}>
							<input type="hidden" id="noEmpleadoData" value={{general.noEmpleado}}>
							<input type="hidden" id="nombreData" value={{general.nombre}}>
							<input type="hidden" id="apellidoPatData" value={{general.apellidoPat}}>
							<input type="hidden" id="apellidoMatData" value={{general.apellidoMat}}>
							<input type="hidden" id="fechaNacimientoData" value={{general.fechaNacimiento}}>
							<input type="hidden" id="nssData" value={{general.nss}}>
							<input type="hidden" id="rfcData" value={{general.rfc}}>
							<input type="hidden" id="telefonoData" value={{general.telefono}}>
							<input type="hidden" id="creditoInfoData" value={{general.noCreditoInfonavit}}>
							<input type="hidden" id="sueldoData" value={{general.sueldo}}>
							<input type="hidden" id="areaData" value={{general.codigoArea}}>
							<input type="hidden" id="sex" value={{general.sexo}}>
							
							</td>
							<td ng-if="general.estatus === 'I'">
							
							
							<button class="btn btn-success btn-sm" data-ng-click="consultaEmpleado(general)">Consultar</button>
							<input type="hidden" id="idData" value={{general.idEmpleado}}>
							<input type="hidden" id="cuad" value={{general.idCuadrilla}}>
							<input type="hidden" id="noEmpleadoData" value={{general.noEmpleado}}>
							<input type="hidden" id="nombreData" value={{general.nombre}}>
							<input type="hidden" id="apellidoPatData" value={{general.apellidoPat}}>
							<input type="hidden" id="apellidoMatData" value={{general.apellidoMat}}>
							<input type="hidden" id="fechaNacimientoData" value={{general.fechaNacimiento}}>
							<input type="hidden" id="nssData" value={{general.nss}}>
							<input type="hidden" id="rfcData" value={{general.rfc}}>
							<input type="hidden" id="telefonoData" value={{general.telefono}}>
							<input type="hidden" id="creditoInfoData" value={{general.noCreditoInfonavit}}>
							<input type="hidden" id="sueldoData" value={{general.sueldo}}>
							<input type="hidden" id="areaData" value={{general.codigoArea}}>
							<input type="hidden" id="sex" value={{general.sexo}}>
							
							</td>
						
							<td ng-if="general.estatus === 'I'"><button class="btn btn-success btn-sm" data-ng-click="bajaEmpleado(general)" disabled>Baja</button></td>
							<td ng-if="general.estatus === 'I'"><button class="btn btn-success btn-sm" data-ng-click="permisoEmpleado(general)" disabled>Permiso Laboral</button></td>
							<td ng-if="general.estatus === 'A'"><button class="btn btn-success btn-sm" data-ng-click="bajaEmpleado(general)">Baja</button></td>
							<td ng-if="general.estatus === 'A'"><button class="btn btn-success btn-sm" data-ng-click="permisoEmpleado(general)">Permiso Laboral</button></td>
							
							</tr>
							</div>
							</table>
                			</div>
               			 </div>
			     </div>
			     <div class="btn-group" role="group" aria-label="Basic example">
			     <input class="btn btn-info btn-sm" type="reset" value="Limpiar Campos">
			     <input class="btn btn-success btn-sm"  type="submit" name="guardar" value="Guardar" data-ng-click="registrar(empleado)" id="editar">
				 <input class="btn btn-success btn-sm"  type="submit" value="Guardar" data-ng-click="actualizarDato()" id="guardarDato" style="display:none;" >
				 <input class="btn btn-info btn-sm" type="button" value="Consultar" data-ng-click="consultar(empleado)" >
			     </div>
			</form>
		</div>
		</div>
	</div>




		
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#noEmpleado").val().length < 1) {
			    $('.amt_err')
				.text('Numero Empleado vacio.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
			return false;
		}
	$('.amt_err').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#nombre").val().length < 1) {
			 $('.amt_error')
				.text('El nombre esta vacio.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
			return false;
		}
		$('.amt_error').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#apellidoPaterno").val().length < 1) {
			 $('.amt_errorApellidoP')
				.text('El apellido paterno esta vacio.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
			return false;
		}
		$('.amt_errorApellidoP').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#apellidoMaterno").val().length < 1) {
			 $('.amt_errorApellidoM')
				.text('El apellido materno esta vacio.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
			return false;
		}
		$('.amt_errorApellidoM').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#codigoPuesto").val() == "") {
			 $('.amt_errorPuesto')
				.text('No se ha seleccionado un puesto.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorPuesto').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#fechaNacimiento").val() == "") {
			 $('.amt_errorNacimiento')
				.text('No se ha seleccionado una fecha.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorNacimiento').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#nss").val().length < 1) {
			 $('.amt_errorNSS')
				.text('Numero de seguro vacio.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorNSS').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#noCreditoInfonavit").val().length < 1) {
			 $('.amt_errorInfonavit')
				.text('Credito Infonavit vacio.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorInfonavit').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#rfc").val().length < 1) {
			 $('.amt_errorRFC')
				.text('RFC vacio.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorRFC').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#sueldo").val().length < 1) {
			 $('.amt_errorSueldo')
				.text('Sueldo vacio.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorSueldo').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#calificacion").val() == "") {
			 $('.amt_errorCalificacion')
				.text('Asigne una calificación.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorCalificacion').fadeOut('slow');
		return false;
	});
});
</script>


<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#telefono").val().length < 1) {
			 $('.amt_errorTel')
				.text('Telefono vacio.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorTel').fadeOut('slow');
		return false;
	});
});
</script>

<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#codigoTalla").val() == "") {
			 $('.amt_errorTalla')
				.text('No se ha seleccionado una talla.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorTalla').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#sexo").val() == "") {
			 $('.amt_errorSexo')
				.text('No se ha seleccionado un sexo.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorSexo').fadeOut('slow');
		return false;
	});
});
</script>
<script> 
$(document).ready(function(){
	$("#formEmpleado").submit(function () {
		if($("#codigoArea").val() == "") {
			 $('.amt_errorArea')
				.text('No se ha seleccionado un Area.')
				.css({'color':'#fff', 'background':'#EAA001', 'padding':'3px'})
				.fadeIn('fast');
				
			return false;
			
		}
		$('.amt_errorArea').fadeOut('slow');
		return false;
	});
});
</script>
    	<script>
	$('input[data-form=nEmpleado]').keyup(function() {

		var data = $(this).val();
		var regx = /^[A-Z0-9]+$/;

		if ( data === '' || data.match(regx) ){
			$('.amt_err').fadeOut('slow');
		}
		else {
			$('.amt_err')
				.text('No se permite letras minusculas o caracteres invalidos.')
				.css({'color':'#fff', 'background':'#990000', 'padding':'3px'})
				.fadeIn('fast');
		}
		
    });
</script>

<script>
$('input[data-form=nombreE]').keyup(function() {


		var data = $(this).val();
		var regx = /^[A-z ÁÉÍÓÚáéíóúÑñ]+$/;

		if ( data === '' || data.match(regx) ){
			$('.amt_error').fadeOut('slow');
		}
		else {
			$('.amt_error')
				.text('no se permiten numeros o caracteres invalidos')
				.css({'color':'#fff', 'background':'#990000', 'padding':'3px'})
				.fadeIn('fast');
		}
		
    });
</script>

<script>
$('input[data-form=apellidoP]').keyup(function() {


		var data = $(this).val();
		var regx = /^[A-z ÁÉÍÓÚáéíóúÑñ]+$/;

		if ( data === '' || data.match(regx) ){
			$('.amt_errorApellidoP').fadeOut('slow');
		}
		else {
			$('.amt_errorApellidoP')
				.text('no se permiten numeros o caracteres invalidos')
				.css({'color':'#fff', 'background':'#990000', 'padding':'3px'})
				.fadeIn('fast');
		}
		
    });
</script>
<script>
$('input[data-form=apellidoM]').keyup(function() {


		var data = $(this).val();
		var regx = /^[A-z ÁÉÍÓÚáéíóúÑñ]+$/;

		if ( data === '' || data.match(regx) ){
			$('.amt_errorApellidoM').fadeOut('slow');
		}
		else {
			$('.amt_errorApellidoM')
				.text('no se permiten numeros o caracteres invalidos')
				.css({'color':'#fff', 'background':'#990000', 'padding':'3px'})
				.fadeIn('fast');
		}
		
    });
</script>

<script>
$('input[data-form=nss]').keyup(function() {


		var data = $(this).val();
		var regx = /^[0-9]+$/;

		if ( data === '' || data.match(regx) ){
			$('.amt_errorNSS').fadeOut('slow');
		}
		else {
			$('.amt_errorNSS')
				.text('No se permite letras o caracteres invalidos.')
				.css({'color':'#fff', 'background':'#990000', 'padding':'3px'})
				.fadeIn('fast');
		}
		
    });
</script>

<script>
$('input[data-form=infonavit]').keyup(function() {


		var data = $(this).val();
		var regx = /^[0-9]+$/;

		if ( data === '' || data.match(regx) ){
			$('.amt_errorInfonavit').fadeOut('slow');
		}
		else {
			$('.amt_errorInfonavit')
				.text('No se permite letras o caracteres invalidos.')
				.css({'color':'#fff', 'background':'#990000', 'padding':'3px'})
				.fadeIn('fast');
		}
		
    });
</script>
<script>
$('input[data-form=rfc]').keyup(function() {


		var data = $(this).val();
		var regx = /^[A-Z0-9]+$/;

		if ( data === '' || data.match(regx) ){
			$('.amt_errorRFC').fadeOut('slow');
		}
		else {
			$('.amt_errorRFC')
				.text('No se permite letras minusculas o caracteres invalidos.')
				.css({'color':'#fff', 'background':'#990000', 'padding':'3px'})
				.fadeIn('fast');
		}
		
    });
</script>
<script>
$('input[data-form=sueldo]').keyup(function() {


		var data = $(this).val();
		var regx = /^[0-9]+$/;

		if ( data === '' || data.match(regx) ){
			$('.amt_errorSueldo').fadeOut('slow');
		}
		else {
			$('.amt_errorSueldo')
				.text('No se permite letras o caracteres invalidos.')
				.css({'color':'#fff', 'background':'#990000', 'padding':'3px'})
				.fadeIn('fast');
		}
		
    });
</script>
<script>
$('input[data-form=tel]').keyup(function() {


		var data = $(this).val();
		var regx = /^[0-9]+$/;

		if ( data === '' || data.match(regx) ){
			$('.amt_errorTel').fadeOut('slow');
		}
		else {
			$('.amt_errorTel')
				.text('No se permite letras o caracteres invalidos.')
				.css({'color':'#fff', 'background':'#990000', 'padding':'3px'})
				.fadeIn('fast');
		}
		
    });
</script>

    	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
</body>

</html>