<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
	<title>Autorizacion Actividades Diarias</title>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/botones.css"/>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/autorizaActividad.js"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCabJe-6SF_dgIWW5eKjHynpbcvzoJmY4E&libraries=geometry"></script> <!-- &callback=initMap -->

	<style>
	.set-width {
	  width: 220px;
	}
	
	.separador {border: 2; border-top: 1px solid #999; border-bottom: 1px solid #333; height:0;}
	</style>
</head>
<body ng-app="tatei" ng-controller="autorizaActividad">
		<div class="container">
		<!-- Modal -->
      <div class="modal fade bs-tatei-modal-sm" id="msload" tabindex="-1"
          role="dialog" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-sm">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">
                          <span class="glyphicon glyphicon-time">
                          </span>Espera un momento..
                       </h4>
                  </div>
                  <div class="modal-body">
                      <div class="progress">
                          <div class="progress-bar progress-bar-info
                          progress-bar-striped active"
                          style="width: 100%">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Modal fin -->
		<h2>Autorización de Actividades Diarias</h2>
		<div id="success" class="alert alert-success alert-dismissable fade in">
                    <a href="" class="close" ng-click="hideAlerts()"  data-dismiss="hideAlerts()" aria-label="close">&times;</a>
                    <strong>AVISO!</strong> <span id="msgaviso"></span>
                  </div>
                  <div id="alert" class="alert alert-danger alert-dismissable fade in">
                    <a href="" class="close" ng-click="hideAlerts()" data-dismiss="hideAlerts()" aria-label="close">&times;</a>
                    <strong>ATENCI&Oacute;N!</strong> <span id="msgerror"></span>
                  </div>
		<div class="row">
			<div class="col-sm-3">
		        <div class="form-group form-group-sm">
		            <label for="Vialidad" class="control-label">Vialidad</label>
		            <input type="text" name="vialidad" id="vialidad" class="form-control" disabled value="{{actividad.descripcionVialidad}}">
		        </div>
	       	</div>
			<div class="col-sm-3">
        		<div class="form-group form-group-sm">
                	<label for="residente" class="control-label">Residente</label>
                  	<input type="text" name="residente" id="residente" class="form-control" disabled value={{actividad.nombreResidente}}>
              	</div>
          	</div>
 			<div class="col-sm-2">
                <div class="form-group form-group-sm">
                    <label for="fecha" class="control-label">Fecha</label>
                    <div class="input-group">
          				<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
          				<input class="form-control" type="date" name="fecha" id="fecha" value={{actividad.fechaActividad}} disabled/>
       				</div>
                </div>
            </div>                  
            <div class="col-sm-2">
                 <div class="form-group form-group-sm">
                     <label for="noPersonas" class="control-label">Num. Personas</label>
                     <input type="text" name="personas" id="personas" class="form-control" value={{actividad.noTrabajadores}} disabled/>
                 </div>
             </div>                  
             <div class="col-sm-2">
                 <div class="form-group form-group-sm">
                     <label for="horasHombre" class="control-label">Total Hrs. Hombre</label>
                     <input type="text" name="horasHombre" id="horasHombre" class="form-control" value={{actividad.noHoras}} disabled/>
                 </div>
             </div>          	
		</div>
		
		<br>
        <div class="row">
        	<div class="col-xs-12">
         		<div class="panel panel-default">
					<div class="row">
                  		<div class="col-xs-12">
							<button data-toggle="collapse" data-target="#mapa" style="width:100%; height:50px; background:#dff0d8; text-align:left; border-color:#dff0d8" ng-click="showMap(actividad)"><strong>Avance Esperado (Planificado)</strong></button>
							<div id="mapa" class="collapse" class="col-xs-12">
	                			<div class="col-sm-6">
	                				<div style="height: 270px; overflow-y: scroll; overflow-x:hidden;">
				                  		<div class="row">
				                    		<div class="col-sm-12 ">	
				                      			<h4>Dirección</h4>
				                      			<div class="row">
				                        			<div class="col-sm-3">
				                          				<span id="txtkm"></span>
				                        			</div>
				                        			<div class="col-sm-9">
				                          				<span id="km"></span>
				                        			</div>
				                      			</div>
				                    			<div class="tbl-content" style="height:250px;">
				                      				<table cellpadding="0" cellspacing="0" border="0">
				                        				<tbody id="tramos" width="493px">
				                        				</tbody>
				                      				</table>
				                    			</div>
				                    		</div>
				                  		</div>
				                  	</div>
			                	</div>
                               	<div class="col-sm-6">
	                  				<div class="row">
	                    				<div class="col-sm-12">
	                      					<div id="map" style="width:100%; height:295px"></div>
	                    				</div>
	                  				</div>
	                			</div>
							</div>												         
						</div>
					</div>
          		</div>
     		</div>
        </div>
		<br/>
        <div class="row">
        	<div class="col-xs-12">
         		<div class="panel panel-default">
					<div class="row">
                  		<div class="col-xs-12">
							<button data-toggle="collapse" data-target="#mapa2" style="width:100%; height:50px; background:#dff0d8; text-align:left; border-color:#dff0d8" ng-click="mostrarReal(actividad)"><strong>Avance Real</strong></button>
							<div id="mapa2" class="collapse" class="col-xs-12">
	                			<div class="col-sm-6">
									<div style="height: 270px; overflow-y: scroll; overflow-x:hidden;">	                			
				                  		<div class="row">
				                    		<div class="col-sm-12 ">	
				                      			<h4>Dirección</h4>
				                      			<div class="row">
				                        			<div class="col-sm-3">
				                          				<span id="txtkm2"></span>
				                        			</div>
				                        			<div class="col-sm-9">
				                          				<span id="km2"></span>
				                        			</div>
				                      			</div>
				                    			<div class="tbl-content" style="height:250px;">
				                      				<table cellpadding="0" cellspacing="0" border="0">
				                        				<tbody id="tramos2" width="493px">
				                        				</tbody>
				                      				</table>
				                    			</div>
				                    		</div>
				                  		</div>
			                  		</div>
			                	</div>
                               	<div class="col-sm-6">
	                  				<div class="row">
	                    				<div class="col-sm-12">
	                      					<div id="map2" style="width:100%; height:295px"></div>
	                    				</div>
	                  				</div>
	                			</div>
							</div>												         
						</div>
					</div>
          		</div>
     		</div>
        </div>		
		<br/>
		<div class="row">
		 <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered">
            <thead>
                <tr class="success">
                <td><strong>Actividad</strong></td>
                <td><strong>Prioridad</strong></td>
                <td><strong>Estado</strong></td>
                <td><strong>Tiempo destinado a la actividad</strong></td>
                <td><strong>Numero de Personas destinadas a la actividad</strong></td>
                <td><strong>Numero de unidades de medida según actividad (m2 pieza)</strong></td>
                <td><strong>% Completado</strong></td>
                <td><strong>Listo / Vencido</strong></td>
                <td><strong>Observaciones</strong></td>
                <td><strong>Operaciones</strong></td>
                </tr>
            </thead>
            
            <tr ng-repeat="actividades in actividad.actividadDiariaDetalle">
            <td>{{actividades.descripcionActividad}}</td>
            <td>{{actividades.descripcionPrioridad}}</td>
            <td>{{actividades.descripcionEstado}}</td>
            <td>{{actividades.tiempoDestinado}}</td>
            <td>{{actividades.numeroPersonas}}</td>
            <td>{{actividades.numeroUnidades}}</td>
            <td>
				<div class="progress">
  					<div ng-class="cambiaColorBarra(actividades.porcentaje)" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color:black;height:50; width:{{actividades.porcentaje}}%">
    					{{actividades.porcentaje}}% 
  					</div>
				</div>            
            </td>
            <td>{{actividades.descripcionListoVencido}}</td>
            <td>{{actividades.observaciones}}</td>
            <td><button class="btn btn-warning" ng-click="muestraDocumento(actividades)">Ver Fotos</button></td>
            </tr>
            </table>
           </div>
         </div>
		</div>
		<br>				
		<div class="row" id="tablaDocumentos">
		 	<div class="col-sm-12">
		 		<h3>Fotos Evidencia</h3>
          		<div class="table-responsive">
            		<table class="table table-bordered">
            			<thead>
                			<tr class="success">
                				<td><strong>Actividad</strong></td>
                				<td><strong>Documento</strong></td>
                				<td><strong>Operaciones</strong></td>
                			</tr>
            			</thead>
            			<tr ng-repeat="documento in documentos">
            				<td>{{documento.descripcionActividad}}</td>
            				<td>{{documento.url}}</td>
            				<td align="center"><button class="btn botonEditar" ng-click="visualizaFoto(documento)">Ver Documento</button></td>            
            			</tr>
            		</table>
           		</div>
           </div>		
		</div>						
		<br>
		<div class="row">
			<div class="col-sm-12 col-md-12">
				<label>Observaciones</label>
		     	<textarea class="form-control" disabled>{{actividad.observaciones}}</textarea>
			</div>
		</div>
		<br>
		<div class="row">		
			<div class="col-sm-2 col-md-2">
    			<label>Total Hrs Trabajadas:</label>
				<input type="text" disabled size="5" value={{actividad.noHorasTrabajadas}} style="width: 100%;" id="noHorasTrabajadas">				
	        </div>
	        <div class="col-sm-2 col-md-2">
	        	<label>%</label>
				<!-- <input type="text" disabled size="5" value={{actividad.porcentajeHoras}} style="width: 100%;" id="porcentajeHoras" >-->
				<div class="progress">
  					<div ng-class="cambiaColorBarra(actividad.porcentajeHoras);" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color:black; height:100px; width:{{actividad.porcentajeHoras}}%">  						
    					{{actividad.porcentajeHoras}}%    					
  					</div>
				</div>
	        </div>
	       	<div class="col-sm-3 col-md-3">
				<label>% Actividades completadas</label>
				<!-- <input type="text" disabled size="5" value={{actividad.porcentajeCompletas}} style="width: 100%;"> -->
				<div class="progress">
  					<div ng-class="cambiaColorBarra(actividad.porcentajeCompletas)" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color:black; height:50; width:{{actividad.porcentajeCompletas}}%">
    					{{actividad.porcentajeCompletas}}% 
  					</div>
				</div>				
			</div>	
			<div class="col-sm-2 col-md-2">
				<label>Horas Restantes</label>
				<input type="text" size="5" disabled value={{actividad.noHorasRestantes}} style="width: 100%;">
			</div>				
			<div class="col-sm-2 col-md-2">
				<label>% Actividades del dia </label>
				<!-- <input type="text" size="5" disabled value={{actividad.porcentajeDia}} style="width: 100%;"> -->
				<div class="progress">
  					<div ng-class="cambiaColorBarra(actividad.porcentajeDia)" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="color:black; height:50; width:{{actividad.porcentajeDia}}%">  					
    					{{actividad.porcentajeDia}}% 
  					</div>
				</div>				
			</div>
		</div>				
		<hr class="separador">
		<div class="row">			
			<div class="col-sm-12">
			<h3>Resultado Revisión</h3>
				<label>Observaciones</label>
		     	<textarea class="form-control" id="comentarioActividad" maxlength="300"></textarea>
			</div>			
		</div>
		<br>
		<div align="center">			
			<button class="btn botonGuardar" ng-click="autorizarActividad()">Autorizar</button>&nbsp;&nbsp;<button class="btn btn-danger" ng-click="rechazarActividad()">Rechazar</button>
		</div>						
	</div>
</body>
</html>