<!DOCTYPE html>
<html lang="es-mx">
	<head>
    	<title> Administración de herramientas </title>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">    	    	   
  	</head>
  	<body ng-app="tatei">  	
      <h2> Administración de Contratos </h2>
      <div class="container">
        <div id="success" class="alert alert-success alert-dismissable fade in">
          <a href="" class="close" ng-click="hideAlerts()"  data-dismiss="hideAlerts()" aria-label="close">&times;</a>
          <strong>AVISO!</strong> <span id="msgaviso"></span>
        </div>
        <div id="alert" class="alert alert-danger alert-dismissable fade in">
          <a href="" class="close" ng-click="hideAlerts()" data-dismiss="hideAlerts()" aria-label="close">&times;</a>
          <strong>ATENCION!</strong> <span id="msgerror"></span>
        </div>
      <div id="panelContratos" class="row">
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="success">
                  <td>Num</td>
                  <td>Fch Registro</td>
                  <td>Vialidad</td>
                  <td>Tramo Inicial</td>
                  <td>Tramo Final</td>
                  <td>Estatus</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="contrato in contratos">
                  <td>{{contrato.numeroDocumento}}</td>
                  <td>{{contrato.fechaRegistroContrato}}</td>
                  <td>{{contrato.codigoVialidad}}</td>
                  <td>{{contrato.coordenadas[0].direccion}}</td>
                  <td>{{contrato.coordenadas[contrato.coordenadas.length -1].direccion}}</td>
                  <td ng-if="contrato.estatus == 'A'">ACTIVO</td>
                  <td ng-if="contrato.estatus == 'I'">INACTIVO</td>
                  <td><button type="button" class="btn botonEditar" ng-click="editarContrato(contrato)">Editar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <center><button id="nuevoContrato" class="btn btn-warning" ng-click="nuevoContrato()">Nuevo Contrato</button></center>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-12">
        <div id="mainPanel" class="panel panel-default">
          <div class="panel-body">
            <form name="formContrato" novalidate>
              <div class="row">
                      <div class="col-sm-4">
                          <div class="form-group" ng-class="{ 'has-error' : formContrato.tipoContrato.$invalid && !formContrato.tipoContrato.$pristine }">
                              <label for="tipoContrato" class="control-label">Tipo de Contrato</label>
                              <select id="tipoContrato" class="form-control" name="tipoContrato" placeholder="Tipo de Contrato" ng-model="contratoFocus.codigoContrato" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in catContratos" required>
                              <option value="">---Seleccione el tipo de contrato---</option>
                              </select>
                          <p ng-show="formContrato.tipoContrato.$invalid && !formContrato.tipoContrato.$pristine" class="help-block">Es necesario seleccionar el tipo de contrato.</p>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group" ng-class="{ 'has-error' : formContrato.documento.$invalid && !formContrato.documento.$pristine }">
                              <label for="documento" class="control-label">Documento</label>
                              <select id="documento" name="documento" required class="form-control" ng-model="contratoFocus.codigoDocumento" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in documentos">
                              <option value="">---Seleccione un Documento---</option>
                              </select>
                          <p ng-show="formContrato.documento.$invalid && !formContrato.documento.$pristine" class="help-block">Es necesario seleccionar el documento.</p>
                          </div>
                      </div>
                      <div class="col-sm-4">
                          <div class="form-group" ng-class="{ 'has-error' : formContrato.numDocumento.$invalid && !formContrato.numDocumento.$pristine }">
                              <label for="numDocumento" class="control-label">Número de Documento</label>
                              <input type="text" class="form-control" id="numDocumento" name="numDocumento" ng-model="contratoFocus.numeroDocumento" placeholder="# CONTRATO" ng-pattern="/^[A-Z0-9\-]*$/" required maxlength="20">
                              <p ng-if="formContrato.numDocumento.$invalid == true" ng-show="formContrato.numDocumento.$invalid && !formContrato.numDocumento.$pristine" class="help-block">Es necesario el numero del documento.</p>
                          <p  ng-if="formContrato.numDocumento.$error.pattern == true" ng-show="formContrato.numDocumento.$error.pattern && !formContrato.numDocumento.$pristine" class="help-block">No se permite letras minusculas o caracteres invalidos.</p>
                          </div>
                      </div>
              </div>
              <div class="row">
                  <div class="col-sm-5">
                    <div class="form-group" ng-class="{ 'has-error' : formContrato.empresa.$invalid && !formContrato.empresa.$pristine }">
                      <label for="empresa" class="control-label">Empresa</label>
                      <select id="empresa" name="empresa" required class="form-control" ng-model="contratoFocus.codigoEmpresa" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in empresas">
                      <option value="">---Seleccione una empresa---</option>
                      </select>
                      <p ng-show="formContrato.empresa.$invalid && !formContrato.empresa.$pristine" class="help-block">Es necesario seleccionar la empresa.</p>
                    </div>
                  </div>
                    <div class="col-sm-3">
                        <label for="monto" class="control-label">Monto</label>
                        <div class="input-group" ng-class="{ 'has-error' : formContrato.monto.$invalid && !formContrato.monto.$pristine }">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" ng-model="contratoFocus.monto" id="monto" placeholder=" 0.00" required ng-pattern="/^[0-9.]*$/" name="monto" min="1" max="99999999">
                       <p ng-show="formContrato.monto.$error.pattern && !formContrato.monto.$pristine" class="help-block">No se permite letras o caracteres invalidos.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="subtotal" class="control-label">Subtotal</label>
                        <div class="input-group" ng-class="{ 'has-error' : formContrato.subtotal.$invalid && !formContrato.subtotal.$pristine }">
                            <span class="input-group-addon">$</span>
                            <input type="number" class="form-control" ng-model="contratoFocus.subtotal" id="subtotal" placeholder="0.00" required ng-pattern="/^[0-9.]*$/" name="subtotal" min="1" max="99999999">
                            <p ng-show="formContrato.subtotal.$error.pattern && !formContrato.subtotal.$pristine" class="help-block">No se permite letras o caracteres invalidos.</p>
                        </div>
                    </div>
              </div>
              <div class="row">
                <div class="col-sm-3" ng-class="{ 'has-error' : formContrato.fechaInicio.$invalid && !formContrato.fechaInicio.$pristine }">
                  <label for="fechaInicio" class="control-label">Fecha de Inicio</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input class="form-control" id="fechaInicio" name="fechaInicio" ng-model="contratoFocus.fechaInicio" placeholder="DD/MM/YYYY" required/>
                     <p ng-show="formContrato.fechaInicio.$invalid && !formContrato.fechaInicio.$pristine" class="help-block">Es necesario seleccionar la fecha de inicio.</p>
                  </div>
                </div>
                <div class="col-sm-3"  ng-class="{ 'has-error' : formContrato.fechaTermino.$invalid && !formContrato.fechaTermino.$pristine }">
                   <label for="fechaTermino" class="control-label">Fecha de Termino</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input class="form-control" id="fechaTermino" name="fechaTermino" ng-model="contratoFocus.fechaFin" placeholder="DD/MM/YYYY" required/>
                   <p ng-show="formContrato.fechaTermino.$invalid && !formContrato.fechaTermino.$pristine" class="help-block">Es necesario seleccionar la fecha de termino.</p>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="input-group">
                    <label for="diasDuracion" class="control-label">Dias de duracion</label>
                    <input type="number" id="diasDuracion" class="form-control" ng-model="contratoFocus.diasDuracion" placeholder="0" disabled="true">
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="avance" class="control-label">Avance</label>
                  <div class="input-group">
                    <span class="input-group-addon">%</span>
                    <input type="number" id="avance" class="form-control" ng-model="contratoFocus.pctAvance" placeholder="0.0" disabled="true">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <label for="fechaRegistro" class="control-label">Fecha de Registro</label>
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                    <input class="form-control" id="fechaRegistro" name="fechaRegistro" ng-model="contratoFocus.fechaRegistroContrato" placeholder="DD/MM/YYYY" type="text" disabled="true" />
                  </div>
                </div>
                <div class="col-sm-3">
                  <label for="estatus" class="control-label">Estatus</label>
                  <select id="estatus" disabled class="form-control" ng-model="contratoFocus.estatus"><option value="A" selected="selected">Activo</option><option value="I">Inactivo</option></select>
                </div>
                <div class="col-sm-3" >
                  <label for="cuadrillac" class="control-label">Cuadrilla</label>
                  <select id="cuadrillac" class="form-control" ng-model="contratoFocus.idCuadrilla" ng-options="cuadrilla.idCuadrilla as cuadrilla.nombreCuadrilla for cuadrilla in cuadrillas">
                  <option value="">---Seleccione una cuadrilla---</option>
                  </select>
                </div>
                <div class="col-sm-3">
                  <label for="noPer" class="control-label">#Per</label>
                  <div ng-repeat="persona in cuadrillas">
                   <span  ng-if="persona.idCuadrilla == contratoFocus.idCuadrilla">
                   {{persona.numeroPersonas}}
                  </span>
                  </div>
                </div>
                <div class="col-sm-2">
                  <!--div class="form-group">
                    <button class="btn btn-primary" style="margin: 25px;"> Nueva Vialidad</button>
                  </div-->
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-12 ">

                      <h4>Dirección</h4>
                      <div class="row">
                        <div class="col-sm-3">
                          <span id="txtkm"></span>
                        </div>
                        <div class="col-sm-9">
                          <span id="km"></span>
                        </div>
                      </div>
                    <div class="tbl-content">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <tbody id="tramos" width="493px">
                        </tbody>
                      </table>

                    </div>
                        <!--div class="dir-div" >
                             <div id="tramos"></div>
                        </div-->
                    </div>
                  </div>
                </div>



                <div class="col-sm-6">
                  <div class="row">
                    <div class="col-sm-offset-4 col-sm-4"><button type="button" ng-click="limpiarMarcadores()" class="btn botonLimpiar" style="margin: 25px;">Limpiar Mapa</button></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div id="map" style="width:100%; height:550px"></div>
                    </div>
                  </div>
                  <div class="row">
                    <!--div class="col-sm-offset-4 col-sm-4"><button class="btn btn-success" style="margin: 25px;">Nueva Cuadrilla</button></div-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5 col-md-offset-3">
                  <div id="contratoFile">
                    <!-- Form Estandar -->
                    <h4>Adjuntar Contrato</h4>
                      <div class="form-inline">
                        <div class="form-group">
                          <input type="file" file-model="contratoAdjunto" id="adjuntarContrato">
                          <p class="help-block">Los formatos admitidos son PDF, PNG, JPG.</p>
                        </div>
                      </div>
                    <!-- Zona de Drop -->
                    <!--h4>Arrastrar los archivos a esta zona</h4>
                    <div class="upload-drop-zone" id="drop-zone">
                      Solo arrastrar y soltar
                    </div-->
                  </div>
                  <div id="linkContrato">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-offset-3"></div>
                <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
                  <div class="form-group">
                    <label for="comentarios">Comentarios</label>
                    <textarea id="comentarios" ng-model="contratoFocus.observaciones" class="form-control" rows="3" maxlength="150"></textarea>
                  </div>
                </div>
              </div>
              <!-- table ini fin --> 
    			
    			<!-- tabledocumento -->
    			<div id="agregarDocumento">
    			<h4>Agregar Documentos</h4>
 				<form>
    			<div class="row" id="addDocument">
    			<input type="hidden" id="contratoHidden" ng-model="contratoD.idContrato" value={{contratoFocus.idContrato}}>
    			 	  <div class="col-sm-4">
                          <div class="form-group">
                              <label for="numDocumento" class="control-label">Nombre del Documento</label>
                              <input type="text" class="form-control" id="numDocumento" name="numDocumento" ng-model="contratoD.nombre" placeholder="Nombre del Documento" maxlength="30">
                              <input type="hidden" id="contratoHidden" ng-model="contratoD.idContrato" value={{contratoFocus.idContrato}}>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="form-group">
                              <label for="numDocumento" class="control-label">Tipo de Documento</label>
                              <select  class="form-control" ng-model="contratoD.codigoDocumento" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in tipoDocumento">
                              <option value="">---Seleccione un Documento---</option>
                              </select>
                          </div>
                      </div>
                      <div class="col-sm-5">
                      <h4>Adjuntar Documento</h4>
	                      <div class="form-inline">
	                        <div class="form-group">
	                          <input type="file" file-model="contratoAdjuntoDocumento" id="adjuntarContratoDocumento">
	                          <p class="help-block">Los formatos admitidos son PDF, PNG, JPG.</p>
	                        </div>
	                      </div>
                      </div>
    			</div>
    			<div align="center"><button class="btn botonGuardar" ng-click="registraDocumento()">Cargar Documento</button> <button class="btn botonEditar" id="showDocument" ng-click="listaDocumentos()">Consultar Documentos</button></div>
    			</form>
    			</div>
    			
    			<br>

    			<br>
    			<div class="row" id="tablaDocumentos">
    			<div class="col-sm-12">
                		<div class="table-responsive">
                		<h4>Documentos Entregados</h4>
                			<table class="table table-bordered">
                			<tr class="success">
                			<td>Nombre del Documento</td>
                			<td>Tipo Documento</td>
                			<td>Fecha del Documento</td>
                			<td>Operaci&oacute;n</td>
                			</tr>
                			<tr ng-repeat="docs in contratosDocs">
                			<td>{{docs.nombre}}</td>
                			<td>{{docs.descripcionDocumento}}</td>
                			<td>{{docs.fechaAlta}}</td>
                			<td><button ng-click="muestraDocumento(docs)" class="btn">Ver Documento</button>
                			</td>
                			</tr>
                			
                			</table>
                			</div>
                			</div>
    			</div>
    
              <div class="row">
              <div class="col-sm-4">
             <button type="button" class="btn botonLimpiar" ng-click="limpiarContrato()">Limpiar</button>
             </div>
                <div class=" col-sm-2">
                  <button type="button" class="btn botonGuardar" ng-click="altaContrato()" ng-show="nContrato" ng-disabled="formContrato.$invalid">Alta</button>
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn botonGuardar" ng-click="guardaContrato()" ng-show="!nContrato">Guardar</button>
                </div>
                <div class="col-sm-4">
                  <button id="cancelarBtn" type="button" ng-click="cancelar()" class="btn botonBaja">Cancelar</button>
                </div>
              </div>
          </form>
          </div>
        </div>
      </div>
    </div>

    </div>
</div>
</body>
</html>