<div class="container">
		<h2>Cambio Contrase&ntilde;a General </h2>
			<div id="success" class="alert alert-success alert-dismissable fade in">
                    <a href="" class="close" ng-click="hideAlerts()"  data-dismiss="hideAlerts()" aria-label="close">&times;</a>
                    <strong>AVISO!</strong> <span id="msgaviso"></span>
                  </div>
                  <div id="alert" class="alert alert-danger alert-dismissable fade in">
                    <a href="" class="close" ng-click="hideAlerts()" data-dismiss="hideAlerts()" aria-label="close">&times;</a>
                    <strong>ATENCI&Oacute;N!</strong> <span id="msgerror"></span>
                  </div>
		<div class="panel panel-default">
					<div class="panel-body">
		<form class="form-horizontal" name="formCambioGeneral" novalidate>
		
				<div class="row" ng-class="{ 'has-error' : formCambioGeneral.selectUsuario.$invalid && !formCambioGeneral.selectUsuario.$pristine }">
				<div class="col-md-4 col-md-offset-3>
				<label for="estatus" class="control-label">Seleccione Usuario a consultar:</label>
				<select class="form-control" name="selectUsuario" required ng-model="user.select" ng-options="datos.idEmpleado as datos.usuario  for datos in resultadoAdmin" ng-change="getOptions2(user.select)">
				<option value="">---Seleccione un usuario---</option>
				</select>
				<p ng-show="formCambioGeneral.selectUsuario.$invalid && !formCambioGeneral.selectUsuario.$pristine" class="help-block">El necesario seleccionar a un usuario.</p>
				</div>
				</div>
		<br>
		<div class="wraper" data-ng-show='resultadoAdmin'>
		  
			<div class="form-group">
    		<label class="col-sm-2 control-label">Nombre Empleado:</label>
    		<div class="col-sm-7" ng-repeat="data in resultadoAdmin">
      		<span ng-if="data.idEmpleado == user.select">{{data.nombre}} {{data.apellidoPat}} {{data.apellidoMat}}</span>
    		</div>
  			</div>
  			
			<div class="form-group" ng-class="{ 'has-error' : formCambioGeneral.contraNueva.$invalid && !formCambioGeneral.contraNueva.$pristine }">
    		
    		<div class="col-sm-6 col-md-offset-3" >
    		Contrase&ntilde;a Nueva: 
      		<input type="password" id="contraNueva" class="form-control" name="contraNueva" required ng-model="user.contraNueva" ng-minlength="8" ng-pattern="/^.*[0-9]+.*$/">
      		 <p ng-if="formCambioGeneral.contraNueva.$error.minlength == true" ng-show="formCambioGeneral.contraNueva.$error.minlength" class="help-block">La contrase&ntilde;a nueva no debe ser menos de 8 caracteres.</p>
      		 <p ng-if="formCambioGeneral.contraNueva.$error.pattern == true" ng-show="formCambioGeneral.contraNueva.$error.pattern" class="help-block">La contrase&ntilde;a debe tener almenos un numero.</p>
    		</div>
    		
  			</div>
  			
  			<div class="form-group" ng-class="{ 'has-error' : formCambioGeneral.contraNueva.$invalid && !formCambioGeneral.contraNueva.$pristine }">
    		<div class="col-sm-6 col-md-offset-3">
    		Repetir Contrase&ntilde;a nueva:
      		<input type="password"  class="form-control" id="repetirContraNueva" name="repetirContraNueva" required ng-model="user.repetirContranueva" ng-minlength="8" ng-pattern="/^.*[0-9]+.*$/">
      		<p ng-if="formCambioGeneral.repetirContraNueva.$error.minlength == true" ng-show="formCambioGeneral.repetirContraNueva.$error.minlength" class="help-block">La contrase&ntilde;a nueva no debe ser menos de 8 caracteres.</p>
    		<p ng-if="formCambioGeneral.repetirContraNueva.$error.pattern == true" ng-show="formCambioGeneral.repetirContraNueva.$error.pattern" class="help-block">La contrase&ntilde;a debe tener almenos un numero.</p>
    		</div>
    		
  			</div>
  			
  			<div align="center">
  			<input type="submit" value="Limpiar campos" class="btn btn-info"  ng-click="reset(user)">
			<input type="submit" value="Actualizar Contrase&ntilde;a" class="btn btn-success" ng-disabled="formCambioGeneral.$invalid" ng-click="actualizar(user)" style="background-color:#18FF08;color:white;"/>
  			</div>
  			
  			</div>
		</form>
		</div>
		</div>
		</div>