
    <div class="container">

      <h3> Catalogos </h3>
      <div id="success" class="alert alert-success alert-dismissable fade in">
        <a href="" class="close" ng-click="hideAlerts()"  data-dismiss="hideAlerts()" aria-label="close">&times;</a>
        <strong>AVISO!</strong> <span id="msgaviso"></span>
      </div>
      <div id="alert" class="alert alert-danger alert-dismissable fade in">
        <a href="" class="close" ng-click="hideAlerts()" data-dismiss="hideAlerts()" aria-label="close">&times;</a>
        <strong>ATENCION!</strong> <span id="msgerror"></span>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                  <label for="catalogo" class="control-label">Catalogo</label>
                  <select id="catalogo" class="form-control" ng-model="seleccion.tipoCatalogo" ng-options="catalogo.tipoCatalogo as catalogo.descripcion for catalogo in resultado" ng-change="getOptions2(seleccion.tipoCatalogo)"></select>
                </div>
            </div>
          </div>
          <div class="wraper" ng-show='resultado2.length' >
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                      <thead>
                         <tr>
                             <th>Codigo:</th>
                             <th>Descripcion</th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr>
                          <td><input class="form-control" id="codigof" type="text" maxlength="4"/></td>
                          <td><input class="form-control" id="descripcionf" type="text" maxlength="100"/></td>
                          <td><button class="btn botonGuardar" ng-click="saveOptions()" >Agregar</button></td>
                        <tr>
                         <tr ng-repeat="catalogo in resultado2">
                             <td>
                                 <div>{{catalogo.codigo | uppercase}}</div>

                             </td>
                             <td>
                                 <div ng-hide="editingData[catalogo.codigo]">{{catalogo.descripcion}}</div>
                                 <div ng-show="editingData[catalogo.codigo]"><input class="form-control" type="text" ng-model="catalogo.descripcion" /></div>
                             </td>
                             <td>
                                 <button class="btn botonEditar" ng-hide="editingData[catalogo.codigo]" ng-click="modify(catalogo)">Editar</button>

                                 <button class="btn botonGuardar" ng-show="editingData[catalogo.codigo]" ng-click="update(catalogo)">Actualizar</button>
                                 <button class="btn botonBaja" ng-hide="editingData[catalogo.codigo]" ng-click="remove(catalogo)">Eliminar</button>
                                 <button class="btn botonBaja" ng-show="editingData[catalogo.codigo]"  ng-click="cancelar(catalogo)">Cancelar</button>
                             </td>
                         </tr>
                     </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
