<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Consulta de Agenda </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <style media="screen">
      label {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 300;
        }
        .hh3 {
          font-weight: bolder;
          font-size: 19px;
        }
    </style>
  </head>
  <body ng-app="tatei">
  	<div class="container">
      <form class="form">
        <div class="h2">Agendia del Día</div>
    		<div class="row">
    			<div class="col-xs-12">
    				<div class="panel panel-default">
	  			        <div class="panel-body">
	  			          	<div class="row">
	  			            	<div class="col-md-8">
	  			            	<div class="col-md-6">
	  			              		<div class="form-group">
	                            		<label for="fecha" class="control-label">Fecha</label>
	                            		<div class="input-group">
	                              			<div class="input-group-addon">
	                                			<i class="fa fa-calendar" ></i>
	                              			</div>
	                              			<input class="form-control" id="fecha" name="fecha" placeholder="YYYY-MM-DD" type="text" value="" readonly/>	                              		
	                            		</div>	                            		
	  			               		</div>
	  			               		</div>
	  			               		<div class="col-md-2" style="margin-top:20px">
	  			               			<button type="button" class="btn btn-success btn-block" id="btnConsultar" name="btnConsultar" ng-click="consultarAgendaDia()">Consultar</button>
	  			               		</div>           						               	
	  			            	</div>
	  			          	</div>
	                    	<div class="row">
	                			<div class="col-xs-12">
	                				<div class="panel panel-default">
		                              	<div class="row">
		                                	<div class="col-xs-12">
												<button data-toggle="collapse" data-target="#actividades" style="width:100%; background:#abcf37; color: #80298f; text-align:left">Actividades</button>
												<div id="actividades" class="collapse">
		                                        	<div>                                                                
		                                          		<table class="table " width="100%">
			                                            <!--  <thead>
			                                            	<tr><td>Actividad</td></tr>
			                                            </thead>-->
			                                            <tbody>
			                                            	<tr ng-repeat="actividad in gridActividades">
			                                                	<td width="100%">{{actividad.descripcion}}</td>
			                                            	</tr>
			                                            </tbody>
			                                          </table>
		                                        	</div>
												</div>         
											</div>
										</div>
										</br>
		                              	<div class="row">
		                                	<div class="col-xs-12">
												<button data-toggle="collapse" data-target="#materiales" style="width:100%; background:#abcf37; color: #80298f; text-align:left">Materiales</button>
												<div id="materiales" class="collapse">
		                                        	<div>                                                                
		                                          		<table class="table" width="100%">
			                                            <!--  <thead>
			                                            	<tr><td>Material</td></tr>
			                                            </thead>-->
			                                            <tbody>
	                                                    	<tr ng-repeat="articulo in gridArticulos">
	                                                        	<td width="100%">{{articulo.descripcion}}</td>
	                                                      	</tr>
			                                            </tbody>
			                                          </table>
		                                        	</div>
												</div>         
											</div>
										</div>
										</br>
										<div class="row">
		                                	<div class="col-xs-12">
												<button data-toggle="collapse" data-target="#mapa" style="width:100%; background:#abcf37; color: #80298f; text-align:left" ng-click="muestraMap()">Mapa</button>
												<div id="mapa" class="collapse in" class="col-xs-12">
		                                        	<div>                                                                
	                                                    <table class="table " width="100%">
	                                                      <thead>
	                                                      </thead>
	                                                      <tbody>
	                                                       	<tr>
	                                                       		<td>
	                      											<div class="row">
	                        											<div class="col-sm-6">
	                          												<span id="txtkm" style="font-weight:bold"></span>
	                          												<span id="km" style="font-weight:bold"></span>
	                        											</div>
	                      											</div>	                                                       		
	                                                       		</td>
	                                                       	</tr>	                                                      
	                                                      	<tr ng-repeat="mapa in mapa.gridCoordenadas">
	                                                        	<td width="100%">{{mapa.direccion}}</td>
	                                                       	</tr>	                                                      
	                                                    </tbody>
	                                                    </table>                                                                                          
		                                        	</div>
		                                        	<div id="map" style="width:100%; height:250px"></div>
												</div>												         
											</div>
										</div>
	                                </div>
	                             </div>
	                        </div>
	                      </div>
	                    </div>
  			        </div>
  			    </div>
    		</div>
    	</div>
      </form>
  	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/locales/bootstrap-datepicker.es.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCabJe-6SF_dgIWW5eKjHynpbcvzoJmY4E"></script>
  </body>
  </html>
