<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<html ng-app="tatei">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="templates/assets/css/layoutPagInter.css" />
    <link rel="stylesheet" href="templates/assets/css/altaContrato.css" />
  </head>
    <script type="text/javascript" language="javascript">
    	  /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
		  function openNav() {
		    document.getElementById("mySidenav").style.width = "250px";
		    document.getElementById("main").style.marginLeft = "250px";
		    document.getElementById("contenedor").style.marginLeft = "260px";
		  };

		  /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
		  function closeNav() {
		    document.getElementById("mySidenav").style.width = "0";
		    document.getElementById("main").style.marginLeft = "0";
		    document.getElementById("contenedor").style.marginLeft = "0";
		  };
      $(window).on("load resize ", function() {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({'padding-right':scrollWidth});
      }).resize();

	</script>
  <body>
    <script type="text/javascript" src="js/JsSimpleDateFormat.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/locales/bootstrap-datepicker.es.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

  	<div class="mycontainer" ng-controller="MainController">
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="	document.getElementById('mySidenav').style.width = '0';
		    													document.getElementById('main').style.marginLeft = '0';
		    													document.getElementById('contenedor').style.marginLeft = '0';">&times;</a>

        <div class="left-nav">
            <accordion close-others="true">
                  <accordion-group  is-open="isopen"
                      ng-repeat="item in items"
                      ng-controller="ItemController">
                      <accordion-heading class="panel-heading">
                        {{item.descripcion}}
                          <i class="pull-right glyphicon"
                                ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                      </accordion-heading>
                      <div ng-repeat="subitem in item.hijos" ng-style="{'background-color':'white'}"><a ui-sref={{subitem.idMenu}}>{{subitem.descripcion}}</a></div>
                  </accordion-group>
              </accordion>
      	</div>
      </div>
	  <div id="main">
      	<span style="font-size:30px;cursor:pointer"  onclick= "	document.getElementById('mySidenav').style.width = '255px';
		    																	document.getElementById('main').style.marginLeft = '255px';
		    																	document.getElementById('contenedor').style.marginLeft = '260px';">&#9776;
		</span>

     	<span class="header">
      		{{usuario.nombre}} {{usuario.apellidoPat}} {{usuario.apellidoMat}} - {{usuario.nombrePerfil}}
      		<button class="btn-default-local" style="float:right">
      			<a href="index.html" class="btn-default-local">
    				Log out
				</a>
			</button>
      	</span>
      </div>
      <div class="row">
          <div class="col-sm-12">
            <div id="contenedor" ui-view></div>
          </div>
      </div>
    </div>
  </body>
</html>
