<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
<title>Administracion de Cuadrillas</title>
<script type="text/javascript" src="js/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.js"></script>
<script type="text/javascript" src="js/altaCuadrilla.js"></script>
</head>
<body ng-app="tatei" ng-controller="adminCuad">
<div class="container"> 
    <h2>Administración de Cuadrillas</h2>
<div class="panel panel-default">
		<div class="panel-body">
			<form name="form_reloj">
                <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="numero" class="control-label">Numero </label>
                            <input type="number" name="numeroCuadrilla" id="numeroCuadrilla"  class="form-control" required/>
                           
                        </div>
                    </div>
                </div>

                <div class="row">
                     <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="vialidad" class="control-label">Vialidad</label>
                          <select class="form-control" required id="vialidad" ng-model="cuadrilla.vialidad" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in resultado" ng-change="getOptions2(cuadrilla.vialidad)"> </select>
                        </div>
                    </div>

                     <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="nombre" class="control-label">Nombre</label>
                            <input type="text" name="nombre" id="nombre"  class="form-control" required/>
                           
                        </div>
                    </div>
                </div>
                <div class="row">
                 <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="calificacion" class="control-label">Calificación</label>
                            <input type="number" name="nombre" id="calificacion"  class="form-control" size="6" required/>
                        </div>
                    </div>
                
                </div>
                
                <div class="row">
                	<div class="col-sm-12">
                		<div class="table-responsive">
                			<table class="table table-bordered">
                				<tr class="success">
                				<td>Número</td>
                				<td>Nombre</td>
                				<td>Vialidad</td>
                				<td>Residente</td>
                				<td>#Per</td>
                				<td>Cal</td>
                				<td>Estatus</td>
                				<td>Operaciones</td>
                				</tr>
                				
                				<tr ng-repeat="datosCuadrilla in resultadoCuadrilla">
                				<td>{{datosCuadrilla.idCuadrilla}}</td>
                				<td>{{datosCuadrilla.nombreCuadrilla}}</td>
                				<td>-</td>
                				<td>-</td>
                				<td>-</td>
                				<td>{{datosCuadrilla.calificacion}}</td>
                				<td>{{datosCuadrilla.estatus}}</td>
                				<td><button class="btn btn-info">Editar</button></td>
                				</tr>
                				
                				
                				
                				
                			</table>
                		</div>
                	</div>
                </div>
                
                <div class="row"> 
                <div class="col-sm-4">
                        <div class="form-group form-group-sm">
                            <label for="estatus" class="control-label">Estatus</label>
    							<select class="form-control" disabled>
    							<option value="A" selected>ACTIVO</option>
    							<option value="I">INACTIVO</option>
    							</select>
                        </div>
                    </div>
                </div>
                
                 <div class="row">
                 <h2>Colaboradores</h2>
                	<div class="col-sm-12">
                		<div class="table-responsive">
                			<table class="table table-bordered">
                				<tr class="success">
                				<td>Perfil</td>
                				<td>Nombre</td>
                				<td>Cal</td>
                				<td>Estatus</td>
                				</tr>
                				
                				<tr>
                				<td>Residente</td>
                				<td>Sergio Hernandez</td>
                				<td>10</td>
                				<td>Activo</td>
                				</tr>
                				
                				<tr>
                				<td>Cabo</td>
                				<td>Jose Martinez</td>
                				<td>7</td>
                				<td>Activo</td>
                				</tr>
                				
                				<tr>
                				<td>Podador</td>
                				<td>Jose Perez</td>
                				<td>8</td>
                				<td>Suspendido</td>
                				</tr>
                			</table>
                		</div>
                	</div>
                </div>
                
                <input type="submit" class="btn btn-info" value="Alta" data-ng-click="registrar(cuadrilla)">
                <input type="submit" class="btn btn-info" value="Grabar">
			</form>
		</div>
</div>

</div>
</body>
</html>