<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Catalogo </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
  </head>
  <body ng-app="tatei">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script>

     $(window).load(function(){
         $('#alert').hide();
         $('#success').hide();
      });

      $(document).ready(function() {
        
      });


    var app = angular.module('tatei', []);

    app.controller('catalogoctrl', function ($scope, $http) {

      var tipoCataloPadre = undefined;
      var option1Options = ["option1 - 1", "option1 - 2", "option1 - 3"];
      var option2Options = [["option2 - 1-1","option2 - 1-2","option2 - 1-3"],
                     ["option2 - 2-1","option2 - 2-2","option2 - 2-3"],
                     ["option2 - 3-1","option2 - 3-2","option2 - 3-3"]];
      //$scope.options1 = option1Options;
      $('#msload').modal('show');
      $('#alert').hide();
      $('#success').hide();
      $http({
              method: 'GET',
              url: 'http://localhost:8080/CuadrillasWEB/ConsultaTipoCatalogos',
              data: { }
		    }).then(function successfn(result) {
		    	$scope.resultado = result.data.catalogo;
	              console.log(result);
                 $('#msload').modal('hide');
		    }, function errorfn(response) {
		        console.error(response);
		        //alert(response.data.header.mensajeFuncional);
            $('#msload').modal('hide');
            $('#alert').show();
            $('#msgerror').val(response.data.header.mensajeFuncional);
		        //$scope.resultado2.push(objecto);
		    });

      $scope.options2 = []; // we'll get these later

      $scope.saveOptions = function(objecto) {
        $('#msload').modal('show');
        $('#alert').hide();
        $('#success').hide();
        $http({
                method: 'GET',
                url: 'http://localhost:8080/CuadrillasWEB/RegistrarCatalogo',//?tipoCatalogo=VIALIDAD&codigo=SANL&descripcion=SAN%20LORENZO&usuario=SISTEMAS',
                params: {
                  "tipoCatalogo": tipoCataloPadre,
                  "codigo": document.getElementById("codigof").value.toUpperCase(),
                  "usuario": 'SISTEMAS',
                  "descripcion": document.getElementById("descripcionf").value.toUpperCase()
                 }
        }).then(function successfn(response) {
            var fila = {};
            fila.descripcion = document.getElementById("descripcionf").value.toUpperCase();
            fila.codigo = document.getElementById("codigof").value.toUpperCase();
            fila.tipo = 0;
            $scope.resultado2.push(fila);
              console.info(response);
              $('#msload').modal('hide');
              $('#success').show();
              $('#msgaviso').text(response.data.mensajeFuncional);
        }, function errorfn(response) {
            console.error(response);
            //alert(response.data.mensajeFuncional);
            $('#msload').modal('hide');
            $('#alert').show();
            $('#msgerror').text(response.data.mensajeFuncional);
            //$scope.resultado2.push(objecto);
        });


      }

      $scope.getOptions2 = function(aaa){
        tipoCataloPadre = aaa;
        console.log(aaa);
        $('#msload').modal('show');
        $('#alert').hide();
        $('#success').hide();
        $http({
                method: 'GET',
                url: 'http://localhost:8080/CuadrillasWEB/ConsultaCatalogo',
                params: { "tipoCatalogo": aaa }
            }).success(function (result) {
                $scope.resultado2 = result.catalogo;

                $scope.editingData = {};

                 for (var i = 0, length = $scope.resultado2.length; i < length; i++) {
                   $scope.editingData[$scope.resultado2[i].codigo] = false;
                 }
                 $('#msload').modal('hide');

                 $scope.modify = function(catalogo){
                     $scope.editingData[catalogo.codigo] = true;
                 };


                 $scope.update = function(catalogo){
                    console.warn(catalogo);
                    //TODO ----- ACTUALIZAR HTTP
                    $('#msload').modal('show');
                    $('#alert').hide();
                    $('#success').hide();
                    $http({
                           method: 'GET',
                           url: 'http://localhost:8080/CuadrillasWEB/ActualizarCatalogo',//?tipoCatalogo=VIALIDAD&codigo=SANL&descripcion=SAN%20LORENZO&usuario=SISTEMAS
                           params: {
                             "tipoCatalogo": tipoCataloPadre,
                             "descripcion": catalogo.descripcion,
                             "codigo": catalogo.codigo,
                             "usuario": 'SISTEMAS'
                            }
                   }).then(function successfn(response) {
                	   $scope.editingData[catalogo.codigo] = false;
                         console.info(response);
                         $('#msload').modal('hide');
                         $('#success').show();
                         $('#msgaviso').text(response.data.mensajeFuncional);
                   }, function errorfn(response) {
                       console.error(response);
                       //alert(response.data.mensajeFuncional);
                       $('#msload').modal('hide');
                       $('#alert').show();
                       $('#msgerror').text(response.data.mensajeFuncional);
                       //$scope.resultado2.push(objecto);
                   });
                     
                 };

                 $scope.remove = function(catalogo) {
                   console.info(catalogo);
                   $('#msload').modal('show');
                   $('#alert').hide();
                   $('#success').hide();
                   $http({
                           method: 'GET',
                           url: 'http://localhost:8080/CuadrillasWEB/EliminarCatalogo',//?tipoCatalogo=VIALIDAD&codigo=SANLO&usuario=SISTEMAS',
                           params: {
                             "tipoCatalogo": tipoCataloPadre,
                             "codigo": catalogo.codigo,
                             "usuario": 'SISTEMAS'
                            }
                   }).then(function successfn(response) {
                       removeByAttr($scope.resultado2, 'codigo',catalogo.codigo);
                         console.info(response);
                         $('#msload').modal('hide');
                         $('#success').show();
                         $('#msgaviso').text(response.data.mensajeFuncional);
                   }, function errorfn(response) {
                       console.error(response);
                       //alert(response.data.mensajeFuncional);
                       $('#msload').modal('hide');
                       $('#alert').show();
                       $('#msgerror').text(response.data.mensajeFuncional);
                       //$scope.resultado2.push(objecto);
                   });


                 }
                console.log(result);
        });
      };
    });

    var removeByAttr = function(arr, attr, value){
    var i = arr.length;
    while(i--){
       if( arr[i]
           && arr[i].hasOwnProperty(attr)
           && (arguments.length > 2 && arr[i][attr] === value ) ){

           arr.splice(i,1);
       }
    }
    return arr;
}

    </script>
    <div class="container" ng-controller="catalogoctrl">
      <!-- Modal -->
      <div class="modal fade bs-tatei-modal-sm" id="msload" tabindex="-1"
          role="dialog" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-sm">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">
                          <span class="glyphicon glyphicon-time">
                          </span>Espera un momento..
                       </h4>
                  </div>
                  <div class="modal-body">
                      <div class="progress">
                          <div class="progress-bar progress-bar-info
                          progress-bar-striped active"
                          style="width: 100%">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Modal fin -->
      <h2> Catalogos </h2>
      <div id="success" class="alert alert-success alert-dismissable fade in">
        <!--a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a-->
        <strong>AVISO!</strong> <span id="msgaviso"></span>
      </div>
      <div id="alert" class="alert alert-danger alert-dismissable fade in">
        <!--a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a-->
        <strong>ATENCIÓN!</strong> <span id="msgerror"></span>
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                  <label for="catalogo" class="control-label">Catalogo</label>
                  <select id="catalogo" class="form-control" ng-model="seleccion.tipoCatalogo" ng-options="catalogo.tipoCatalogo as catalogo.descripcion for catalogo in resultado" ng-change="getOptions2(seleccion.tipoCatalogo)"></select>
                </div>
            </div>
          </div>
          <div class="wraper" ng-show='resultado2.length' >
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-bordered">
                      <thead>
                         <tr>
                             <th>Codigo:</th>
                             <th>Descripcion</th>
                         </tr>
                     </thead>
                     <tbody>
                        <tr>
                          <td><input class="form-control" id="codigof" type="text" /></td>
                          <td><input class="form-control" id="descripcionf" type="text" /></td>
                          <td><button class="btn btn-success" ng-click="saveOptions()">Agregar</button></td>
                        <tr>
                         <tr ng-repeat="catalogo in resultado2">
                             <td>
                                 <div>{{catalogo.codigo | uppercase}}</div>

                             </td>
                             <td>
                                 <div ng-hide="editingData[catalogo.codigo]">{{catalogo.descripcion}}</div>
                                 <div ng-show="editingData[catalogo.codigo]"><input class="form-control" type="text" ng-model="catalogo.descripcion" /></div>
                             </td>
                             <td>
                                 <button class="btn btn-warning" ng-hide="editingData[catalogo.codigo]" ng-click="modify(catalogo)">Modificar</button>
                                 <button class="btn btn-success" ng-show="editingData[catalogo.codigo]" ng-click="update(catalogo)">Actualizar</button>
                                 <button class="btn btn-danger" ng-hide="editingData[catalogo.codigo]" ng-click="remove(catalogo)">Eliminar</button>
                             </td>
                         </tr>
                     </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--h2> Catalogo </h2>
    <div ng-controller="catalogoctrl">
      <span>catalogo:</span>
      <select ng-model="seleccion.tipoCatalogo" ng-options="catalogo.tipoCatalogo as catalogo.descripcion for catalogo in resultado" ng-change="getOptions2(seleccion.tipoCatalogo)"></select>

            <span> {{seleccion.tipoCatalogo}}</span>
    <div class="wraper" ng-show='resultado2.length' >

               <table>
                   <thead>
                       <tr>
                           <th>Codigo:</th>
                           <th>Descripcion</th>
                           <th>tipo</th>
                       </tr>
                   </thead>
                   <tbody>
                      <tr>
                        <td><input id="codigof" type="text" /></td>
                        <td><input id="descripcionf" type="text" /></td>
                        <td><input type="text" value="0" disabled="true" /></td>
                        <td><button ng-click="saveOptions()">Agregar</button></td>
                      <tr>
                       <tr ng-repeat="catalogo in resultado2">
                           <td>
                               <div>{{catalogo.codigo | uppercase}}</div>

                           </td>
                           <td>
                               <div ng-hide="editingData[catalogo.codigo]">{{catalogo.descripcion}}</div>
                               <div ng-show="editingData[catalogo.codigo]"><input type="text" ng-model="catalogo.descripcion" /></div>
                           </td>
                           <td>
                               <div>{{catalogo.tipo}}</div>

                           <td>
                               <button ng-hide="editingData[catalogo.codigo]" ng-click="modify(catalogo)">Modificar</button>
                               <button ng-show="editingData[catalogo.codigo]" ng-click="update(catalogo)">Actualizar</button>
                               <button ng-hide="editingData[catalogo.codigo]" ng-click="remove(catalogo)">Eliminar</button>
                           </td>
                       </tr>
                   </tbody>
               </table>

           </div>

   </div>
  </div-->
  </body>
</html>
