<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Alta de Contrato </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="js/angular.min.js"></script>
  </head>
  <body ng-app="tatei">
    <div class="container" ng-controller="altacontratoctrl">
    <div class="modal fade bs-tatei-modal-sm" id="msload" tabindex="-1"
          role="dialog" aria-hidden="true" data-backdrop="static">
          <div class="modal-dialog modal-sm">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">
                          <span class="glyphicon glyphicon-time">
                          </span>Espera un momento..
                       </h4>
                  </div>
                  <div class="modal-body">
                      <div class="progress">
                          <div class="progress-bar progress-bar-info
                          progress-bar-striped active"
                          style="width: 100%">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <h2> Alta de Contrato </h2>
      <div id="panelContratos" class="row">
        <div id="success" class="alert alert-success alert-dismissable fade in">
          <a href="" class="close" ng-click="hideAlerts()"  data-dismiss="hideAlerts()" aria-label="close">&times;</a>
          <strong>AVISO!</strong> <span id="msgaviso"></span>
        </div>
        <div id="alert" class="alert alert-danger alert-dismissable fade in">
          <a href="" class="close" ng-click="hideAlerts()" data-dismiss="hideAlerts()" aria-label="close">&times;</a>
          <strong>ATENCIÓN!</strong> <span id="msgerror"></span>
        </div>
        <div class="col-sm-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr class="success">
                  <td>Num</td>
                  <td>Fch Registro</td>
                  <td>Vialidad</td>
                  <td>Tramo Inicial</td>
                  <td>Tramo Final</td>
                  <td>Estatus</td>
                  <td></td>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="contrato in contratos">
                  <td>{{contrato.numeroDocumento}}</td>
                  <td>{{contrato.fechaRegistro}}</td>
                  <td>{{contrato.codigoVialidad}}</td>
                  <td>{{contrato.coordenadas[0].direccion}}</td>
                  <td>{{contrato.coordenadas[contrato.coordenadas.length -1].direccion}}</td>
                  <td>{{contrato.estatus}}</td>
                  <td><button type="button" class="btn btn-info" ng-click="editarContrato(contrato)">Editar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <center><button id="nuevoContrato" class="btn btn-warning" ng-click="nuevoContrato()">Nuevo Contrato</button></center>
        </div>
      </div>
      <br>
      <div id="mainPanel" class="panel panel-default">
        <div class="panel-body">
          <form action="#">
            <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="tipoContrato" class="control-label">Tipo de Contrato</label>
                            <select id="tipoContrato" class="form-control" placeholder="Tipo de Contrato" ng-model="contratoFocus.codigoContrato" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in catContratos"></select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="documento" class="control-label">Documento</label>
                            <select id="documento" class="form-control" ng-model="contratoFocus.codigoDocumento" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in documentos"></select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="numDocumento" class="control-label">Número de Documento</label>
                            <input type="text" class="form-control" id="numDocumento" ng-model="contratoFocus.numeroDocumento" placeholder="# CONTRATO">
                        </div>
                    </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="empresa" class="control-label">Empresa</label>
                    <select id="empresa" class="form-control" ng-model="contratoFocus.codigoEmpresa" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in empresas"></select>
                  </div>
                </div>
                  <div class="col-sm-3">
                      <label for="monto" class="control-label">Monto</label>
                      <div class="input-group">
                          <span class="input-group-addon">$</span>
                          <input type="number" class="form-control" ng-model="contratoFocus.monto" id="monto" placeholder=" 0.00">
                      </div>
                  </div>
                  <div class="col-sm-4">
                      <label for="subtotal" class="control-label">Subtotal</label>
                      <div class="input-group">
                          <span class="input-group-addon">$</span>
                          <input type="number" class="form-control" ng-model="contratoFocus.subtotal" id="subtotal" placeholder="0.00">
                      </div>
                  </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <label for="fechaInicio" class="control-label">Fecha de Inicio</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  <input class="form-control" id="fechaInicio" name="fechaInicio" ng-model="contratoFocus.fechaInicio" placeholder="DD/MM/YYYY"/>
                </div>
              </div>
              <div class="col-sm-3">
                 <label for="fechaTermino" class="control-label">Fecha de Término</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  <input class="form-control" id="fechaTermino" name="fechaTermino" ng-model="contratoFocus.fechaFin" placeholder="DD/MM/YYYY" />
                </div>
              </div>
              <div class="col-sm-3">
                <div class="input-group">
                  <label for="diasDuracion" class="control-label">Días de duración</label>
                  <input type="number" id="diasDuracion" class="form-control" ng-model="contratoFocus.diasDuracion" placeholder="0" disabled="true">
                </div>
              </div>
              <div class="col-sm-3">
                <label for="avance" class="control-label">Avance</label>
                <div class="input-group">
                  <span class="input-group-addon">%</span>
                  <input type="number" id="avance" class="form-control" ng-model="contratoFocus.pctAvance" placeholder="0.0" disabled="true">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <label for="fechaRegistro" class="control-label">Fecha de Registro</label>
                <div class="input-group">
                  <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  <input class="form-control" id="fechaRegistro" name="fechaRegistro" ng-model="contratoFocus.fechaRegistro" placeholder="DD/MM/YYYY" type="text" disabled="true" />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="vialidad" class="control-label">Vialidad</label>
                  <select id="vialidad" class="form-control" ng-model="contratoFocus.codigoVialidad" ng-options="catalogo.codigo as catalogo.descripcion for catalogo in vialidades"></select>
                </div>
              </div>
              <div class="col-sm-2">
                <!--div class="form-group">
                  <button class="btn btn-primary" style="margin: 25px;"> Nueva Vialidad</button>
                </div-->
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title"><div id="km"></div></h3>
                      </div>
                      <div class="panel-body" id="tramos">

                      </div>
                    </div>
                  </div>
                </div>
                <!--div class="row">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Tramo Inicial</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <label for="direccionInicial" class="control-label">Dirección</label>
                              <input type="text" id="direccionInicial" class="form-control"placeholder="Av. Gobernadores 102 Col Bugambilias">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="latitudInicial" class="control-label">Latitud</label>
                              <input type="text" id="latitudInicial" class="form-control" placeholder="-0.9999999">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="longitudInicial" class="control-label">Longitud</label>
                              <input type="text" id="longitudInicial" class="form-control" placeholder="1.2366526">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title">Tramo Final</h3>
                      </div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <label for="direccionTermino" class="control-label">Dirección</label>
                              <input type="text" id="direccionTermino" class="form-control" placeholder="Av. Morelos S/N Col 10 Abril">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="latitudTermino" class="control-label">Latitud</label>
                              <input type="text" id="latitudTermino" class="form-control" placeholder="-0.9999999">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group">
                              <label for="longitudTermino" class="control-label">Longitud</label>
                              <input type="text" id="longitudTermino" class="form-control" placeholder="1.2366526">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div-->
              </div>
              <div class="col-sm-6">
                <div class="row">
                  <div class="col-sm-offset-4 col-sm-4"><button type="button" ng-click="limpiarMarcadores()" class="btn btn-danger" style="margin: 25px;">Limpiar Mapa</button></div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div id="map" style="width:100%; height:550px"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-offset-4 col-sm-4"><button class="btn btn-success" style="margin: 25px;">Nueva Cuadrilla</button></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-2">
                <label for="estatus" class="control-label">Estatus</label>
                <select id="estatus" class="form-control" ng-model="contratoFocus.estatus"><option value="A">Activo</option><option value="I">Inactivo</option></select>
              </div>
              <div class="col-sm-3">
                <label for="cuadrillac" class="control-label">Cuadrilla</label>
                <select id="cuadrillac" class="form-control" ng-model="contratoFocus.idCuadrilla" ng-options="cuadrilla.idCuadrilla as cuadrilla.nombreCuadrilla for cuadrilla in cuadrillas"></select>
              </div>
              <div class="col-sm-2">
                <label for="noPer" class="control-label">#Per</label>
                <input type="number" id="noPer" ng-model="contratoFocus.noPersonas" class="form-control" placeholder="0">
              </div>
              <div class="col-sm-5">
                <!-- Form Estandar -->
                <h4>Adjuntar Contrato</h4>
                  <div class="form-inline">
                    <div class="form-group">
                      <input type="file" id="adjuntarContrato">
                      <p class="help-block">Los formatos admitidos son PDF, PNG, JPG.</p>
                    </div>
                  </div>
                <!-- Zona de Drop -->
                <!--h4>Arrastrar los archivos a esta zona</h4>
                <div class="upload-drop-zone" id="drop-zone">
                  Solo arrastrar y soltar
                </div-->
              </div>
            </div>
            <div class="row">
              <div class="col-sm-offset-3"></div>
              <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                  <label for="comentarios">Comentarios</label>
                  <textarea id="comentarios" ng-model="contratoFocus.observaciones" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
            <!-- table ini fin -->
            <div class="row">
              <div class="col-sm-offset-3 col-sm-2">
                <button type="button" class="btn btn-block btn-success" ng-click="altaContrato()" ng-show="nContrato">Alta</button>
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-block btn-warning" ng-show="!nContrato">Guardar</button>
              </div>
              <div class="col-sm-2 col-sm-offset-3">
                <button id="cancelarBtn" type="button" ng-click="cancelar()" class="btn btn-block btn-danger">Cancelar</button>
              </div>
            </div>
        </form>
        </div>
      </div>

    </div>
    <script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <script>
    var map;
    var medida;
      $(document).ready(function(){
        $('#mainPanel').hide();
        var fechaInicioForm=$('input[name="fechaInicio"]');
        var fechaTerminoForm=$('input[name="fechaTermino"]');
        var fechaRegistroForm=$('input[name="fechaRegistro"]');
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var a = undefined;
        var b = undefined;
        fechaInicioForm.datepicker({
          format: 'dd/mm/yyyy',
          container: container,
          todayHighlight: true,
          autoclose: true,
        }).on("change", function (e) {
          console.log(e)
            console.log("fecha inicio: ", e.target.value);
            var s = e.target.value.split("/")
            a = moment([s[2], s[1]-1, s[0]]);
            if (b) {
              $('#diasDuracion').val(b.diff(a,'days')+1);
            }
        });
        fechaTerminoForm.datepicker({
          format: 'dd/mm/yyyy',
          container: container,
          todayHighlight: true,
          autoclose: true,
        }).on("change", function (e) {
            var s = e.target.value.split("/")
            b = moment([s[2], s[1]-1, s[0]]);
            console.log("Fecha termino: ", e.target.value);
            if (a) {
              $('#diasDuracion').val(b.diff(a,'days')+1);
            }
        });
        fechaRegistroForm.datepicker({
          format: 'dd/mm/yyyy',
          container: container,
          todayHighlight: true,
          autoclose: true,
        })
      })
      function initMap() {
        medida = {
            mvcLine: new google.maps.MVCArray(),
            mvcPolygon: new google.maps.MVCArray(),
            mvcMarkers: new google.maps.MVCArray(),
            line: null,
            polygon: null
        };
        var mx1 = {lat: 19.34751544463381, lng: -98.98272888210454};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: mx1
        });
        /*var mx1 = {lat: 19.34751544463381, lng: -98.98272888210454};
        var mx2 = {lat: 19.38962144393955, lng: -99.04332534816899};

        var marker = new google.maps.Marker({
          position: mx1,
          map: map
        });
        var marker = new google.maps.Marker({
          position: mx2,
          map: map
        }); */
        google.maps.event.addListener(map, 'click', function(event) {
          //console.log(event);
            setMarcador(event.latLng);
        });
      }

        var markers = [];

        //initialize();

        function initialize() {
          var myOptions = {
            zoom: 10,
            center: new google.maps.LatLng(100.090, -100.536),
            mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

          addMarker(new google.maps.LatLng(100.0747, -100.6274), "Tramo Inicial");
          addMarker(new google.maps.LatLng(100.0758, -100.6254), "Tramo Final");

        }

        function addMarker(latlng, titulo) {
          markers.push(new google.maps.Marker({
            position: latlng,
            map: map,
            title: titulo,
            icon: "http://maps.google.com/mapfiles/marker" + String.fromCharCode(markers.length + 65) + ".png"
          }));
        }
        // #########################################################>>>>> INICIO ANGULAR APP <<<< #########################################################
        var app = angular.module('tatei', []);

        app.controller('altacontratoctrl', function ($scope, $http) {
          $scope.contratoFocus = {}; // contrato undefined
          $scope.nContrato = true;
          $('#msload').modal('show');
          $http({
                  method: 'GET',
                  url: 'http://localhost:8080/CuadrillasWEB/ConsultaCatalogo',
                  params: {
                    'tipoCatalogo': 'CONTR_TIPO'
                  },
                  data: { }
            }).then(function successfn(result) {
              $scope.catContratos = result.data.catalogo;
                    console.log(result);
                     $('#msload').modal('hide');
            }, function errorfn(response) {
                console.error(response);
                alert(response.data.header.mensajeFuncional);
                $('#msload').modal('hide');
                //$('#msgerror').val(response.data.header.mensajeFuncional);
            });

          $('#msload').modal('show');
          $http({
                  method: 'GET',
                  url: 'http://localhost:8080/CuadrillasWEB/ConsultaCatalogo',
                  params: {
                    'tipoCatalogo': 'DOCUMENTO'
                  },
                  data: { }
            }).then(function successfn(result) {
                  $scope.documentos = result.data.catalogo;
                    console.log(result);
                     $('#msload').modal('hide');
            }, function errorfn(response) {
                console.error(response);
                alert(response.data.header.mensajeFuncional);
                $('#msload').modal('hide');
                //$('#msgerror').val(response.data.header.mensajeFuncional);
            });

            $('#msload').modal('show');
            $http({
                    method: 'GET',
                    url: 'http://localhost:8080/CuadrillasWEB/ConsultaCatalogo',
                    params: {
                      'tipoCatalogo': 'EMPRESAS'
                    },
                    data: { }
              }).then(function successfn(result) {
                    $scope.empresas = result.data.catalogo;
                      console.log(result);
                       $('#msload').modal('hide');
              }, function errorfn(response) {
                  console.error(response);
                  alert(response.data.header.mensajeFuncional);
                  $('#msload').modal('hide');
                  //$('#msgerror').val(response.data.header.mensajeFuncional);
              });

            $('#msload').modal('show');
            $http({
                    method: 'GET',
                    url: 'http://localhost:8080/CuadrillasWEB/ConsultaCatalogo',
                    params: {
                      'tipoCatalogo': 'VIALIDAD'
                    },
                    data: { }
              }).then(function successfn(result) {
                    $scope.vialidades = result.data.catalogo;
                      console.log(result);
                       $('#msload').modal('hide');
              }, function errorfn(response) {
                  console.error(response);
                  alert(response.data.header.mensajeFuncional);
                  $('#msload').modal('hide');
                  //$('#msgerror').val(response.data.header.mensajeFuncional);
              });



              $scope.nuevoContrato = function() {
                $('#mainPanel').show();
                $('#nuevoContrato').hide();
                $('#panelContratos').hide();
                $scope.nContrato = true;
                $scope.contratoFocus = {};
                $scope.initMap();
                $scope.limpiarMarcadores();
              }

              $scope.cancelar = function() {
                $('#mainPanel').hide();
                $('#nuevoContrato').show();
                //$scope.consultaContratos();
                $('#panelContratos').show();
                $scope.contratoFocus = {};
                $scope.limpiarMarcadores();
              }

              $scope.altaContrato = function() {
                $('#mainPanel').hide();
                $scope.consultaContratos();
                $('#panelContratos').show();
                $('#nuevoContrato').show();
                console.log($scope.contratoFocus);
                $scope.contratoFocus = {}; //para el final
              }

              $scope.consultaContratos = function() {
                $('#msload').modal('show');
                setTimeout(function () {
                  $http({
                    method: 'GET',
                    url: 'http://localhost:8080/CuadrillasWEB/ConsultaContrato',
                    params: {
                    },
                    data: {}
                  }).then(function successfn(result) {
                    //console.log('contratos:');
                    $scope.contratos = result.data.contrato;
                    //console.log(result);
                    /*for (var i = 0; i < result.data.contrato[0].coordenadas.length; i++) {
                      setDireccionEnReversa(result.data.contrato[0].coordenadas[i].latitud, result.data.contrato[0].coordenadas[i].longitud);
                    }*/
                    $('#msload').modal('hide');
                  }, function errorfn(response) {
                    console.error(response);
                    alert(response.data.header.mensajeFuncional);
                    $('#msload').modal('hide');
                  });
                }, 2000);
              }

              $scope.editarContrato = function(contrato) {
                $scope.contratoFocus = contrato;
                $('#mainPanel').show();
                $('#nuevoContrato').hide();
                $('#panelContratos').hide();
                $scope.nContrato = false;
                $scope.initMap();
                var coordenadasArray = $scope.ordenCoordenadas(contrato.coordenadas);
                for (var i = 0; i < coordenadasArray.length; i++) {
                  setTimeout(function(){ $scope.setDireccionEnReversa(coordenadasArray[i].latitud, coordenadasArray[i].longitud); }, 500);
                }
              }

              $scope.ordenCoordenadas = function(coordenadaArr){
                var size = coordenadaArr.length;
                for( var pass = 1; pass < size; pass++ ) {
                  for( var izq = 0; izq < (size - pass); izq++) {
                    var der = izq + 1;
                    if( coordenadaArr[izq].orden > coordenadaArr[der].orden ) {
                      swap(coordenadaArr, izq, der);
                    }
                  }
                }
                return coordenadaArr;
              }

              //Ejecución inicial
              $scope.consultaContratos();

            /*$('#msload').modal('show');
            $http({
                    method: 'GET',
                    url: 'http://localhost:8080/CuadrillasWEB/ConsultaCuadrilla',
                    params: {
                    },
                    data: { }
              }).then(function successfn(result) {
                    $scope.cuadrillas = result.data.cuadrilla;
                      console.log(result);
                       $('#msload').modal('hide');
              }, function errorfn(response) {
                  console.error(response);
                  alert(response.data.header.mensajeFuncional);
                  $('#msload').modal('hide');
                  //$('#msgerror').val(response.data.header.mensajeFuncional);
              });*/

              /*$('#msload').modal('show');
              setTimeout(function () {
                $http({
                  method: 'GET',
                  url: 'http://localhost:8080/CuadrillasWEB/ConsultaContrato',
                  params: {
                  },
                  data: {}
                }).then(function successfn(result) {
                  console.log('contratos:');
                  $scope.contratos = result.data.contrato;
                  console.log(result);
                  for (var i = 0; i < result.data.contrato[0].coordenadas.length; i++) {
                    setDireccionEnReversa(result.data.contrato[0].coordenadas[i].latitud, result.data.contrato[0].coordenadas[i].longitud);
                  }
                  $('#msload').modal('hide');
                }, function errorfn(response) {
                  console.error(response);
                  alert(response.data.header.mensajeFuncional);
                  $('#msload').modal('hide');
                });
              }, 2000); */


              $scope.setMarcador = function(latLng) {
                var geocoder = new google.maps.Geocoder;
                var img_mark = 'mark.png';
                var marcador = new google.maps.Marker({map: map, position: latLng, icon: img_mark, draggable: false});
                medida.mvcLine.push(latLng);
                medida.mvcPolygon.push(latLng);
                medida.mvcMarkers.push(marcador);
                var latLngIndex = medida.mvcLine.getLength() - 1;
                google.maps.event.addListener(marcador, "drag", function(evt) {
                    medida.mvcLine.setAt(latLngIndex, evt.latLng);
                    medida.mvcPolygon.setAt(latLngIndex, evt.latLng);
                });
                google.maps.event.addListener(marcador, "dragend", function() {
                    if (medida.mvcLine.getLength() > 1) {
                        $scope.calculaDistancia();
                    }
                });
                var latlng = {lat: latLng.lat(), lng: latLng.lng()};
                var direccion = 'SN';
                geocoder.geocode({'location': latlng}, function(results, status) {
                  //console.log(results);
                  if (status === google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                      direccion =  results[0].formatted_address;
                      var coordenadaP = {};
                      var coordenadasTemp = [];
                      coordenadaP.latitud = latLng.lat();
                      coordenadaP.longitud = latLng.lng();
                      coordenadaP.direccion = direccion;
                      if($scope.contratoFocus.coordenadas) {
                        var ordenLast = $scope.contratoFocus.coordenadas[$scope.contratoFocus.coordenadas.length - 1];
                        if(ordenLast && ordenLast.orden) {
                          coordenadaP.orden = $scope.contratoFocus.coordenadas[$scope.contratoFocus.coordenadas.length - 1].orden + 1;
                        } else {
                          coordenadaP.orden = 1;
                        }
                        $scope.contratoFocus.coordenadas.push(coordenadaP);
                      } else {
                        coordenadaP.orden = 1;
                        coordenadasTemp.push(coordenadaP);
                        $scope.contratoFocus.coordenadas = coordenadasTemp;
                      }
                      $( "#tramos" ).append( $( "<div class=\"row\""
                       + "<div class=\"col-sm-12\">"
                         + "<div class=\"form-group\">"
                           + "<label for=\"direccionInicial\" class=\"control-label\">Dirección</label>"
                           + "<input type=\"text\" id=\"direccionInicial\" class=\"form-control\" value=\"" + direccion + "\" disabled=\"true\">"
                         + "</div>"
                       + "</div>"
                     + "</div>"
                     + "<div class=\"row\">"
                       + "<div class=\"col-sm-3\">"
                           + "<label for=\"\" class=\"control-label\">Coordenadas</label>"
                       +"</div>"
                       + "<div class=\"col-sm-4\">"
                         + "<input type=\"text\" id=\"latitudInicial" + latLngIndex + "\" class=\"form-control\" value=\"" + latLng.lat() + "\">"
                        + "</div>"
                        + "<div class=\"col-sm-4\">"
                        + "<input type=\"text\" id=\"longitudInicial" + latLngIndex + "\" class=\"form-control\" value=\"" + latLng.lng() + "\">"
                       + "</div>"
                      + "</div>") );
                    } else {
                      alert('No se encontraron resultados');
                    }
                  } else {
                    alert('Geocoder fallo debido al estatus: ' + status);
                  }
                });



                /*
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="direccionInicial" class="control-label">Dirección</label>
                      <input type="text" id="direccionInicial" class="form-control"placeholder="Av. Gobernadores 102 Col Bugambilias">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                      <label for="" class="control-label">Coordenadas</label>
                  </div>
                  <div class="col-sm-4">
                    <input type="text" id="latitudInicial" class="form-control" placeholder="-0.9999999">
                  </div>
                  <div class="col-sm-4">
                    <input type="text" id="longitudInicial" class="form-control" placeholder="1.2366526">
                  </div>
                </div>
                */

                $scope.mLineaRecta();
              }

              $scope.initMap = function() {
                medida = {
                    mvcLine: new google.maps.MVCArray(),
                    mvcPolygon: new google.maps.MVCArray(),
                    mvcMarkers: new google.maps.MVCArray(),
                    line: null,
                    polygon: null
                };
                var mx1 = {lat: 19.34751544463381, lng: -98.98272888210454};
                map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 7,
                  center: mx1
                });
                /*var mx1 = {lat: 19.34751544463381, lng: -98.98272888210454};
                var mx2 = {lat: 19.38962144393955, lng: -99.04332534816899};

                var marker = new google.maps.Marker({
                  position: mx1,
                  map: map
                });
                var marker = new google.maps.Marker({
                  position: mx2,
                  map: map
                }); */
                google.maps.event.addListener(map, 'click', function(event) {
                    //console.log(event);
                    $scope.setMarcador(event.latLng);
                });
              }

              $scope.calculaDistancia = function() {
                  var length = 0;
                  if (medida.mvcPolygon.getLength() > 1) {
                      length = google.maps.geometry.spherical.computeLength(medida.line.getPath());
                  }
                  var area = 0;
                  if (medida.mvcPolygon.getLength() > 2) {
                      area = google.maps.geometry.spherical.computeArea(medida.polygon.getPath());
                  }
              //    lM = document.forms["mb"].elements["mode"][0].checked;
                  var km = length / 1000;
                  var unidad_de_medida = " metros";
                  $scope.contratoFocus.metros = length;
                  $( "#km" ).text(km.toFixed(2) + ' km');
                  //console.log('Distancia total:' + length.toFixed(0) + ' metros ' +  km.toFixed(3));
              }

              $scope.calculaDistancia = function() {
                  var length = 0;
                  if (medida.mvcPolygon.getLength() > 1) {
                      length = google.maps.geometry.spherical.computeLength(medida.line.getPath());
                  }
                  var area = 0;
                  if (medida.mvcPolygon.getLength() > 2) {
                      area = google.maps.geometry.spherical.computeArea(medida.polygon.getPath());
                  }
              //    lM = document.forms["mb"].elements["mode"][0].checked;
                  var km = length / 1000;
                  var unidad_de_medida = " metros";
                  $scope.contratoFocus.metros = length;
                  $( "#km" ).text(km.toFixed(2) + ' km');
                  //console.log('Distancia total:' + length.toFixed(0) + ' metros ' +  km.toFixed(3));
              }

              $scope.mLineaRecta = function() {
                  if (medida.mvcLine.getLength() > 1) {
                      if (!medida.line) {
                          medida.line = new google.maps.Polyline({
                              map: map,
                              clickable: false,
                              strokeColor: "#ad04ef",
                              strokeOpacity: 1,
                              strokeWeight: 3,
                              path: medida.mvcLine
                          });
                      }

                      if (medida.mvcPolygon.getLength() > 2) {

                          if (medida.polygon != null)
                          {
                              medida.polygon.setMap(null);
                          }


                          medida.polygon = new google.maps.Polygon({
                              clickable: false,
                              map: map,
                              fillOpacity: 0.0,
                              strokeOpacity: 0,
                              paths: medida.mvcPolygon
                          });

                      }
                  }
                  if (medida.mvcLine.getLength() > 1) {
                      $scope.calculaDistancia();
                  }
              }

              $scope.setDireccionEnReversa = function(lat, lng) {
                  var latlng = {lat: lat, lng: lng};
                  var geocoder = new google.maps.Geocoder();
                  //var address = document.getElementById('direccion').value;
                  //geocoder.geocode({'address': address}, function(results, status) {
                  geocoder.geocode({'location': latlng}, function(results, status) {
                      if (status == google.maps.GeocoderStatus.OK) {
                          map.setCenter(results[0].geometry.location);
                          $scope.setMarcador(results[0].geometry.location);
                      } else {
                          alert('No se encontro la direccion , debido: ' + status);
                      }
                  });
              }

              $scope.limpiarMarcadores = function() {
                  if (medida.polygon) {
                      medida.polygon.setMap(null);
                      medida.polygon = null;
                  }
                  if (medida.line) {
                      medida.line.setMap(null);
                      medida.line = null
                  }
                  medida.mvcLine.clear();
                  medida.mvcPolygon.clear();
                  medida.mvcMarkers.forEach(function(elem, index) {
                      elem.setMap(null);
                  });
                  $scope.contratoFocus.coordenadas = [];
                  medida.mvcMarkers.clear();
                  $( "#tramos" ).empty();
                  $( "#km" ).text('');
                  //document.getElementById('lineLength').innerHTML = '';
                  //document.getElementById('polyArea').innerHTML = '';
              }
        });
        function setMarcador(latLng) {
            var geocoder = new google.maps.Geocoder;
            var img_mark = 'mark.png';
            var marcador = new google.maps.Marker({map: map, position: latLng, icon: img_mark, draggable: false});
            medida.mvcLine.push(latLng);
            medida.mvcPolygon.push(latLng);
            medida.mvcMarkers.push(marcador);
            var latLngIndex = medida.mvcLine.getLength() - 1;
            google.maps.event.addListener(marcador, "drag", function(evt) {
                medida.mvcLine.setAt(latLngIndex, evt.latLng);
                medida.mvcPolygon.setAt(latLngIndex, evt.latLng);
            });
            google.maps.event.addListener(marcador, "dragend", function() {
                if (medida.mvcLine.getLength() > 1) {
                    calculaDistancia();
                }
            });
            var latlng = {lat: latLng.lat(), lng: latLng.lng()};
            var direccion = 'SN';
            geocoder.geocode({'location': latlng}, function(results, status) {
              console.log(results);
              if (status === google.maps.GeocoderStatus.OK) {
                if (results[1]) {
                  direccion =  results[0].formatted_address;
                  var coordenadaP = {};
                  var coordenadasTemp = [];
                  coordenadaP.latitud = latLng.lat();
                  coordenadaP.longitud = latLng.lng();
                  coordenadaP.direccion = direccion;

                  if($scope.contratoFocus.coordenadas) {
                    $scope.contratoFocus.coordenadas.push(coordenadaP);
                  } else {
                    coordenadasTemp.push(coordenadaP);
                    $scope.contratoFocus.coordenadas = coordenadasTemp;
                  }
                  $( "#tramos" ).append( $( "<div class=\"row\""
                   + "<div class=\"col-sm-12\">"
                     + "<div class=\"form-group\">"
                       + "<label for=\"direccionInicial\" class=\"control-label\">Dirección</label>"
                       + "<input type=\"text\" id=\"direccionInicial\" class=\"form-control\" value=\"" + direccion + "\">"
                     + "</div>"
                   + "</div>"
                 + "</div>"
                 + "<div class=\"row\">"
                   + "<div class=\"col-sm-3\">"
                       + "<label for=\"\" class=\"control-label\">Coordenadas</label>"
                   +"</div>"
                   + "<div class=\"col-sm-4\">"
                     + "<input type=\"text\" id=\"latitudInicial" + latLngIndex + "\" class=\"form-control\" value=\"" + latLng.lat() + "\">"
                    + "</div>"
                    + "<div class=\"col-sm-4\">"
                    + "<input type=\"text\" id=\"longitudInicial" + latLngIndex + "\" class=\"form-control\" value=\"" + latLng.lng() + "\">"
                   + "</div>"
                  + "</div>") );
                } else {
                  alert('No se encontraron resultados');
                }
              } else {
                alert('Geocoder fallo debido al estatus: ' + status);
              }
            });



            /*
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="direccionInicial" class="control-label">Dirección</label>
                  <input type="text" id="direccionInicial" class="form-control"placeholder="Av. Gobernadores 102 Col Bugambilias">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3">
                  <label for="" class="control-label">Coordenadas</label>
              </div>
              <div class="col-sm-4">
                <input type="text" id="latitudInicial" class="form-control" placeholder="-0.9999999">
              </div>
              <div class="col-sm-4">
                <input type="text" id="longitudInicial" class="form-control" placeholder="1.2366526">
              </div>
            </div>
            */

            mLineaRecta();
        }


        function mLineaRecta() {
            if (medida.mvcLine.getLength() > 1) {
                if (!medida.line) {
                    medida.line = new google.maps.Polyline({
                        map: map,
                        clickable: false,
                        strokeColor: "#ad04ef",
                        strokeOpacity: 1,
                        strokeWeight: 3,
                        path: medida.mvcLine
                    });
                }

                if (medida.mvcPolygon.getLength() > 2) {

                    if (medida.polygon != null)
                    {
                        medida.polygon.setMap(null);
                    }


                    medida.polygon = new google.maps.Polygon({
                        clickable: false,
                        map: map,
                        fillOpacity: 0.0,
                        strokeOpacity: 0,
                        paths: medida.mvcPolygon
                    });

                }
            }
            if (medida.mvcLine.getLength() > 1) {
                calculaDistancia();
            }
        }

        function prueba() {
              var puntoMetrica = medida.mvcLine.pop();
              if (puntoMetrica)
              {
                  medida.mvcPolygon.pop();
                  var marcadorRemove = medida.mvcMarkers.pop();
                  marcadorRemove.setMap(null);
                  calculaDistancia();
              }
          }

          function limpiarMarcadores() {
              if (medida.polygon) {
                  medida.polygon.setMap(null);
                  medida.polygon = null;
              }
              if (medida.line) {
                  medida.line.setMap(null);
                  medida.line = null
              }
              medida.mvcLine.clear();
              medida.mvcPolygon.clear();
              medida.mvcMarkers.forEach(function(elem, index) {
                  elem.setMap(null);
              });
              $scope.contratoFocus.coordenadas = [];
              medida.mvcMarkers.clear();
              $( "#tramos" ).empty();
              $( "#km" ).text('');
              //document.getElementById('lineLength').innerHTML = '';
              //document.getElementById('polyArea').innerHTML = '';
          }

        function calculaDistancia() {
            var length = 0;
            if (medida.mvcPolygon.getLength() > 1) {
                length = google.maps.geometry.spherical.computeLength(medida.line.getPath());
            }
            var area = 0;
            if (medida.mvcPolygon.getLength() > 2) {
                area = google.maps.geometry.spherical.computeArea(medida.polygon.getPath());
            }
        //    lM = document.forms["mb"].elements["mode"][0].checked;
            var km = length / 1000;
            var unidad_de_medida = " metros";
            $scope.contratoFocus.metros = length;
            $( "#km" ).text(km.toFixed(2) + ' km');
            //console.log('Distancia total:' + length.toFixed(0) + ' metros ' +  km.toFixed(3));
        }

        function setDireccionEnReversa(lat, lng) {
            var latlng = {lat: lat, lng: lng};
            var geocoder = new google.maps.Geocoder();
            //var address = document.getElementById('direccion').value;
            //geocoder.geocode({'address': address}, function(results, status) {
            geocoder.geocode({'location': latlng}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    setMarcador(results[0].geometry.location);
                } else {
                    alert('No se encontro la direccion , debido: ' + status);
                }
            });
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCabJe-6SF_dgIWW5eKjHynpbcvzoJmY4E&libraries=geometry"></script> <!-- &callback=initMap -->
  </body>
</html>
