<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />
    
    <style>
.inpurError
	{
		background: #FF0000;
	}
</style>
<title>Toma de Asistencia</title>
<script type="text/javascript">
 	function mueveReloj(){ 
   	momentoActual = new Date() 
   	hoy = new Date()
   	dd = hoy.getDate()
	mm = hoy.getMonth()+1 //hoy es 0!
    yyyy = hoy.getFullYear()
    
    if(dd<10) {
    dd='0'+dd
	} 

	if(mm<10) {
    mm='0'+mm
	} 

   	hora = momentoActual.getHours() 
   	minuto = momentoActual.getMinutes() 
   	str_minuto = new String (minuto) 
   	if (str_minuto.length == 1) 
      	minuto = "0" + minuto 
   	str_hora = new String (hora) 
   	if (str_hora.length == 1) 
      	hora = "0" + hora 
   	horaImprimible = hora + " : " + minuto 
   	hoy = dd+'/'+mm+'/'+yyyy;
   	document.form_reloj.reloj.value = horaImprimible 
   	document.form_reloj.fecha.value = hoy
   	setTimeout("mueveReloj()",1000) 
} 
</script>
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/entradaAsistencia.js"></script>

</head>
<body onload="mueveReloj()" data-ng-app="tatei" data-ng-controller="entradaAsistencia">
<div class="container">
<h2>Toma de Asistencia</h2>

<div class="panel panel-default">
		<div class="panel-body">
			<form data-ng-submit="registrar(asistencia)" name="form_reloj" >
			<div class="row">
			 <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label for="fecha" class="control-label">Fecha</label>
                            <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                  			<input type="text" name="fecha" ng-model="asistencia.fecha" class="form-control" disabled>
               				 </div>
                        </div>

                    </div>
                    
                    <div class="col-sm-6">
                        <div class="form-group form-group-sm">
                            <label for="horarioSolicitado" class="control-label">Horario</label>
                           <div class="input-group">
                  			<div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                  			<input type="text" name="reloj" onfocus="window.document.form_reloj.reloj.blur()" disabled ng-model="asistencia.horario" class="form-control">
               				 </div>
                        </div>
                    </div>
			</div>
			
			<div class="row">
			  <div class="col-sm-12">
                        <div class="form-group form-group-sm">
                            <label for="Comentarios" class="control-label">Comentarios</label>
                           <div class="input-group">
                  			<div class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></div>
                  			<textarea rows="3" size="20"  class="form-control" placeholder="Comentarios" style="resize: none;"></textarea> 
               				 </div>
                        </div>
                    </div>
			</div>
			
			
			<div class="row">
			<h2>Colaboradores</h2>
			<div class="col-sm-12">
                		<div class="table-responsive">
                			<table class="table table-bordered">
                				<tr class="success">
                				<td>Perfil</td>
                				<td>Nombre</td>
                				<td>Comentarios Entrada</td>
                				<td>Entrada</td>
                				<td>Salida</td>
                				<td colspan="2">Operaciones</td>
                				</tr>
                				
                				<tr>
                				<td></td>
                				<td></td>
                				<td></td>
                				<td></td>
                				<td></td>
                				<td><button>Entrada</button></td>
                				<td><button>Salida</button></td>
                				</tr>
                				
                			</table>
                		</div>
            </div>
			</div>
			</form>
			<input type="submit" name="registrar" value="Registrar" class="btn btn-success">
		</div>
</div>

</div>
</body>
</html>